.announce-ann{
	color: rgb(59, 175, 252);
    width: 90%;
    margin: 10px auto;
    font-weight: bolder;
}
.border-line{
	border-bottom: 2px solid rgb(204, 204, 204);
    width: 90%;
    margin: 10px auto;		
}
.ann-title{
    margin: 0px 80px;
    font-size: 25px;
   	font-weight: bolder;
   	border: none;
   	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.ann-date{
	width: 90%;
    margin: 10px 80px;
}
.ann-title-line{
	border-bottom: 2px solid rgb(204, 204, 204);
	width: 90%;
    margin: 10px auto;	
}
.ann-content{
	margin: 0px 80px;
    border: none;
}
.ann-form{
	display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.ann-btn-area{
	width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
.ann-btn-area > .btn{
	width:130px;
	height: 40px;	
}
.ann-btn-area > a{    
	margin: auto 10px;
}