.top-line{
    border-bottom: 2px solid rgb(204, 204, 204);
    margin: 0px auto 20px auto;
    width: 90%;

  }

  .head-text{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bolder;
  }

  .input-form > *{
    font-family: 'Noto Sans KR', sans-serif;
  }

  .warning-text{
    font-size: 15px;
  }