.faq-fa{
	color: rgb(59, 175, 252);
    width: 90%;
    margin: 10px auto;
    font-weight: bolder;
}
.border-line{
	border-bottom: 2px solid rgb(204, 204, 204);
    width: 85%;
    margin: 10px;
    margin-left: 70px;
}
.faq-area{
	display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    margin-left: 70px;
}
.faq-create{
	background-color: rgb(59, 175, 252);
	color: white;
	border-radius: 3px;
    border: none;
    width: 85px;
    height: 35px;
    position: absolute;
    margin-left: 1350px;
    margin-bottom: 100px;
}
.faq-title-line{
	border-bottom: 2px solid rgb(204, 204, 204);
	width: 90%;
    margin: 10px 10px;	
}
.faq-date{
    margin-left: 34px;
}
li::marker {
  	color: rgb(41, 128, 185);
}
.faq-btn{
	border:none;
	font-size: 25px;
    background-color: white;
    font-weight: bolder;
}
.faq-content{
	 margin-left: 34px;
}
.enroll-btn{
	background-color: rgb(59, 175, 252);
	color: white;
	border-radius: 3px;
    border: none;
	margin-left: 1200px;
}
.downarrow{
	width:40px;
	height:40px;
}

.collapse-area{
	display: flex;
    width: 90%;
    justify-content: space-between;
    height: 35px;
}