.freeBoardEnrollForm-area{
    font-family: 'Noto Sans KR', sans-serif;
}
.content {
    text-align: center;
}

.innerOuter {
    padding: 5% 10%;
    width: 80%;
    margin: 0 auto; /* 가운데 정렬을 위해 추가 */
}

table {
    width: 100%; /* 테이블 100% 넓이로 설정 */
}

input.form-control,
textarea.form-control {
    width: 100%; /* 입력 필드 100% 넓이로 설정 */
}
