  
     #boardList {text-align:center;}
     #boardList>tbody>tr:hover {cursor:pointer;}

     #pagingArea {width:fit-content; margin:auto;}
     
     #searchForm {
         width:60%;
         margin:auto;
     }
     #searchForm>* {
         float:left;
         margin:5px;
     }
     .select {width:20%;}
     .text {width:53%;}
     .searchBtn {width:15%;}