.page-title{
	color: rgb(59, 175, 252);
	font-size: 30px;
	font-weight: bold;
}
.section{
    margin: 40px 100px 0 110px;
    border-bottom: 1px solid;
}
.name-phone{
    margin-top: 30px;
}
.name-phone span{
    font-weight: 500;
    font-size: 16px;
}
input::placeholder {
    font-size: 12px; /* 원하는 크기로 조절 */
}
.input-area{
    display: flex;
    margin-bottom: 30px;
}
.next-btn{
	position: relative;
	margin: 0 100px;
	padding: 0;
	word-wrap: break-word;
	white-space: nowrap;
}
.btn1{
	position: absolute;
	right: 0;
}