.header-box {
	margin-top: 70px;
	display: flex;
	flex-direction: row;
}

.left_box {
	background-color: rgb(52, 152, 219);
	width: 25%;
	height: 286px;
}

.centerbox {
	display: flex;
	flex-direction: row;
	background-color: rgb(59, 175, 252);
	width: 100%;
	max-width: 1200px;
	height: 286px;
	justify-content: space-evenly;
	align-items: center;
}

.right_box {
	background-color: rgb(52, 152, 219);
	width: 25%;
	height: 286px;
}

.container {
	display: flex;
	position: relative;
	justify-content: space-between;
	width: 100%;
	box-sizing: border-box; /* 추가: border와 padding이 width에 포함되도록 설정 */
	/* 중앙 정렬을 위한 부분을 flex로 대체 */
	align-items: center;
}

.main {
	box-sizing: border-box;
	background-color: #eee;
	color: #000000;
	text-align: center;
	width: 70%;
	max-width: 792px;
	height: 380px;
	flex-shrink: 0; /* 이 부분을 추가하여 축소되지 않도록 설정 */
	margin-left: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.sub {
	box-sizing: border-box;
	background-color: #ffffff;
	color: #000000;
	text-align: center;
	width: 792px;
	max-width: 792px;
	flex-shrink: 0; /* 이 부분을 추가하여 축소되지 않도록 설정 */
	margin: auto; /* 가운데 정렬을 위해 추가 */
	display: flex;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin-left: 250px;
}

.banner {
	width: 200px;
	position: absolute;
    right: 0;
    top: 0;
    margin-top: 30px;
}

.banner {
	box-sizing: border-box;
	background-color: #ffffff;
	color: #fff;
	text-align: center;
	display: flex;
	align-items: center; /* 세로 방향 가운데 정렬을 추가합니다. */
	justify-content: center; /* 가로 방향 가운데 정렬을 추가합니다. */
}

.banner img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.main img {
	display: block;
	max-width: 50%;
	max-height: 60%;
	margin: auto; /* 이미지를 가운데 정렬하기 위해 추가 */
	margin-top: 30px;
}

.center_box {
	display: flex;
	flex-direction: row;
	background-color: rgb(59, 175, 252);
	width: 100%;
	max-width: 1200px;
	height: 286px;
	justify-content: space-evenly;
	align-items: center;
}

.sub>div {
	flex: 1;
}

@media screen and (max-width: 1200px) {
	.banner:nth-child(1), .banner:nth-child(3) {
		width: 0;
		display: none;
	}
	.main {
		width: 100%;
	}
}

.row iframe{
	height: 100%;
	width: 100%;
}
ul{
	list-style: none;
    padding: 0 !important;
    margin: 0;
}
.recentText{
	margin-bottom: 8px;
	color: #222;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -1.5px;
}
.recentStore{
	position: absolute;
	z-index: 999;
    top: 0;
	width: 150px;
	margin-top: 30px;
    text-align: center;
    background: #fff;
    box-shadow: 0 0px 15px 0 rgb(0 0 0 / 6%);
}
.recentStore a{
	text-decoration: none;
	color: black;
}
.recentImg{
	height: 80px;
	width: 135px;
}
.rSName{
	display: inline-block;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	width: 135px;
}
.studyCardArea{
	display: flex;
	width: 792px;
	margin-left: 5px;
	margin-top: 5px;
    margin-bottom: 5px
}
.studyCard{
	margin-right: 35px;
}
.studyCardA{
	border-radius: 1.2rem;
    box-shadow: 0 0.4rem 1.2rem rgba(0,0,0, 0.15 );
    height: 100%;
    position: relative;
    overflow: hidden;
    position: relative;
}
.studyTube{
	width: 240px;
	height: 300px;
}
.fishTube{
	width: 240px;
	height: 200px;
}
.studyName{
	padding: 1.2rem;
}
.studyLink{
	text-decoration: none;
	color: black;
}
.pageMore{
	text-decoration: none;
	color: #5655b7;
	font-weight: bold;
}
.mainImgs{
	width: 100%;
	height: 100%;
}
.titleH4{
	margin-bottom: 10px;
}