.carousel-inner{
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
    display: flex; /* flex 속성 추가 */
}

.header-area{
    z-index: 999;
}
.page-title{
	color: rgb(59, 175, 252);
	font-size: 30px;
	font-weight: bold;
}
.photo-info{
    position: relative;
    display: flex;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 1px solid;
    min-width: 100vh;
    justify-content: center;
}

.carousel-inner img{
    max-height: 400px;
    max-width: 600px;
    min-height: 400px;
    min-width: 600px;
}
.photo-area{
    margin-bottom: 100px;
}
.info-area{
    margin-left: 50px;
    word-break: keep-all;
}
.bkind{
    font-weight: 500;
    color: #9e5c4a;
}
.bname{
    font-size: 50px;
}
.baddress{
    margin-top: 50px;
    font-size: 30px;
}
.detail-reply{
    position: relative;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    min-width: 100vh;
}
.tab-area{
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
.tab-area li{
    float: left;
    display: flex;
}
.half{
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
}
.detail-tab{
    width: 70%;
    height: 60px;
    margin-right: 80px;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    font-size: 30px;
    cursor: pointer;
    word-break: keep-all;
}
.reply-tab{
    width: 50%;
    height: 60px;
    margin-right: 80px;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    font-size: 30px;
    cursor: pointer;
}
.map-plus{
    display: none;
}
.map-plus.on{
    display: block;
}
.map-area{
    display: flex;
    border-bottom: 1px solid;
    justify-content: center;
}
.kakao-map{
   height: 600px; 
   width: 600px;
   border: 1px solid black;
   margin-top: 50px;
   margin-bottom: 50px;
}
.address-area{
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 50px;
}
.title-address{
    font-size: 50px;
}
.detail-address{
    font-size: 30px;
}
.price-area{
    margin-top: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price-title{
    font-size: 40px;
    color: rgb(41, 128, 185);
}

th, td {
    padding: 8px;
    text-align: left;
    width: 100px;
}
.price-num{
    width: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.choice-area{
	margin-left: 50px;
}
.option-list-area{
	height: 80%;
    width: 100%;
    overflow: scroll;
    margin-top: 10px;
}
.option-list{
	height: 200px;
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	flex-direction:row;
    margin-top: 0;
    list-style: none;
}
.option-item{
    position: relative;
    padding: 20px 0;
    margin: 0;
}

.checkbox-icon{
    margin: 1px 8px 0 0;
}
.option-info{
    display: flex;
}
.info-text{
    margin-right: 15px;
}
.boucher-title{
    overflow: hidden;
    max-height: 48px;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 26px;
}
.info-content{
    margin-top: 3px;
    line-height: 30px;
    font-size: 20px;
}
.resnum-area{
	text-align: center;
	width: 80px;
	border: none;
}
.input-group{
	justify-content: center;
}




.fish-img{
    margin-top: 30px;
    margin-right: 30px;
}
.fish-img img{
    height: 50px;
    width: 50px;
}
.fishname{
    margin-top: 20px;
}
.fishkind-area{
    border-bottom: 1px solid;
}
.information{
    border-bottom: 1px solid;
}
.info-title{
	display: flex;
	justify-content: space-between;
    margin-top: 20px;
    font-size: 30px;
}
.detail-info{
    margin-bottom: 50px;
}
.detail-info p{
    margin: 0;
    padding: 0;
}



.reply-area{
    display: none;
}
.reply-area.on{
    display: block;
}
.reply-line{
    border-bottom: 1px solid black;
    margin-top: 50px;
}

.btn-fixed{
	position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-color: #e9e9ec;
    border-color: var(--booking-color-gray80);
    z-index: 9010;
    background-color: white;
}
.btn-inner{
	display: flex;
    max-width: 720px;
    margin: 0 auto;
    padding: 12px 16px;
    box-sizing: border-box;
}
.fixed-btn{
	width: 100%;
	height: 45px;
	background-color: rgb(41, 128, 185) ;
    color: #fff;
    border-radius: 8px;
    border: none;
}
.pad{
	width: 100%;
	height: 69px;
}
#like-logo{
	height: 50px !important;
	width: 50px !important;
	float: right;
	cursor: pointer;
	margin-top: 50px;
}
#like-logo img{
	height: 100%;
}
#dltBtn{
	margin-left: 40px;
    text-wrap: nowrap;
    font-size: 14px;
    color: red;
    cursor: pointer;
}
