button{
	transition: all 0.3s ease;
}

.header-area{
    z-index: 999;
}

.page-title{
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 3px solid #e6e6e6;
    background-color: white;
    background: white;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(59, 175, 252);
}
.main-section{
	width: 1200px;
	display: flex;
}
.main-area{
	width: 100%;
    display: flex;
    position: relative;
    padding: 10px;
    top: 0;
}
p {
    margin: 0;
    word-break: keep-all;
}
.map-area1{
    display: block;
    position: relative;
    width: 381px;
    left: 50%;
    top: 0;
    margin-left: -190px
}
.btn-area .txt{
    font-size: 15px;
    color: #fff;
    line-height: 1;
    position: absolute;
    margin-bottom: 0;
}
.btn-area .w01{
    left: 10px;
    top: 157px;
}
.btn-area .w02{
    left: 10px;
    top: 293px;
}
.btn-area .w03{
    left: 125px;
    top: 364px;
}
.btn-area .w04{
    left: 96px;
    top: 454px;
}
.btn-area .w05{
    left: 250px;
    top: 372px;
}
.btn-area .w06{
    left: 312px;
    top: 245px;
}
.btn-area .w07{
    left: 282px;
    top: 84px;
}
.btn-area .w08{
    left: 256px;
    top: 10px;
}
.imgtab-btn{
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    background: none;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    word-break: break-all;
    max-height: 100%;
}
.img-flid1{
    position: absolute;
    overflow: hidden;
    width: 157px;
    height: 104px;
    left: 0;
    top: 109px;
}
#hoverImage1{
    width: 100%;
    height: 100%;
    position: absolute;
}
.img-flid2{
    position: absolute;
    overflow: hidden;
    width: 204px;
    height: 287px;
    left: 0;
    top: 213px;
}
#hoverImage2{
    width: 186px;
    height: 320px;
    max-height: none;
    transform: rotateZ(36deg);
    left: -75px;
    top: -53px;
    z-index: 2;
}
.img-flid3{
    position: absolute;
    overflow: hidden;
    width: 204px;
    height: 226px;
    bottom: 0;
    right: 0;
    z-index: 1;
}
#hoverImage3{
    height: 140px;
    top: 0;
    right: 0;
    width: 100%;
    position: absolute;
}
#hoverImage4{
    height: 90px;
    bottom: 0;
    right: 0;
    width: 100%;
    position: absolute;
}
.img-flid4{
    position: absolute;
    overflow: hidden;
    width: 177px;
    height: 351px;
    right: 0;
    top: 149px;
}
#hoverImage5{
    width: 203px;
    height: 320px;
    max-height: none;
    max-width: none;
    transform: rotateZ(-34deg);
    left: -45px;
    top: 93px;
    z-index: 2;
}
#hoverImage6{
    width: 105px;
    z-index: 1;
    right: 0;
    height: 100%;
    position: absolute;
}
.img-flid5{
    position: absolute;
    overflow: hidden;
    width: 195px;
    height: 115px;
    right: 0;
    top: 35px;
}
#hoverImage7{
    width: 100%;
    height: 100%;
    position: absolute;
}

.map-area1,
.map-area2,
.map-area3,
.map-area4,
.map-area5,
.map-area6,
.map-area7,
.map-area8 {
    display: none;
    position: relative;
    width: 381px;
    left: 50%;
    top: 0;
    margin-left: -190px
}
.map-area1.on,
.map-area2.on,
.map-area3.on,
.map-area4.on,
.map-area5.on,
.map-area6.on,
.map-area7.on,
.map-area8.on {
    display: block;
}
.prev-btn{
    position: absolute;
    width: 34px;
    height: 34px;
    top: 2px;
    right: 2px;
    z-index: 11;
    background: url(/bigFish/resources/images/prev-btn-icon.png);
    cursor: pointer;
    border: none;
}

.btn-area2{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.sub-txt{
    font-family: 'scd-bold', sans-serif;
    color: #fff;
    font-size: 22px;
    line-height: 1;
    position: absolute;
}
.btn-area2 .sub-txt{
    left: 11px;
    top: 184px;
}
.btn-area2 button{
    font-size: 15px;
    color: #000;
    padding: 3px 0;
    padding-left: 20px;
    position: absolute;
    text-align: left;
    border: none;
    background: none;
}

.icon-txt-btn1{
    left: 178px;
    top: 135px;
}
.btn-area2 img,
.btn-area3 img,
.btn-area4 img,

.btn-area8 img
{
    display: inline-block;
    width: 15px;
    height: 23px;
    position: absolute;
    left: 0;
    top: 0;
}
.icon-txt-btn2{
    left: 213px;
    top: 198px;
}
.icon-txt-btn3{
    left: 209px;
    top: 277px;
}
.icon-txt-btn4{
    left: 235px;
    top: 345px;
}

.btn-area3 .sub-txt{
    left: 11px;
    top: 264px;
}
.btn-area3 button{
    font-size: 15px;
    color: #000;
    padding: 3px 0;
    padding-left: 20px;
    position: absolute;
    text-align: left;
    border: none;
    background: none;
}
.icon-txt-btn5{
    left: 210px;
    top: 42px;
}
.icon-txt-btn6{
    left: 197px;
    top: 91px;
}
.icon-txt-btn7{
    left: 182px;
    top: 147px;
}
.icon-txt-btn8{
    left: 167px;
    top: 222px;
}
.icon-txt-btn9{
    left: 164px;
    top: 287px;
}

.btn-area4 .sub-txt{
    left: 180px;
    top: 421px;
}
.btn-area4 button{
    font-size: 15px;
    color: #000;
    padding: 3px 0;
    padding-left: 20px;
    position: absolute;
    text-align: left;
    border: none;
    background: none;
}
.icon-txt-btn10{
    left: 178px;
    top: 263px;
}
.icon-txt-btn11{
    left: 269px;
    top: 228px;
}
.btn-area5 .sub-txt{
    left: 169px;
    top: 402px;
}
.jeju{
    display: inline-block;
    width: 15px;
    height: 23px;
    position: absolute;
    left: auto;
    right: 0;
}
.icon-txt-btn12{
    left: 50px;
    top: 221px;
    font-size: 15px;
    color: #000;
    padding: 3px 0;
    padding-right: 20px;
    position: absolute;
    text-align: left;
    border: none;
    background: none;
}
.icon-txt-btn13{
    left: 244px;
    top: 224px;
    font-size: 15px;
    color: #000;
    padding: 3px 0;
    padding-left: 20px;
    position: absolute;
    text-align: left;
    border: none;
    background: none;
}
.icon-txt-btn14{
    left: 21px;
    top: 275px;
    font-size: 15px;
    color: #000;
    padding: 3px 0;
    padding-right: 20px;
    position: absolute;
    text-align: left;
    border: none;
    background: none;
}
.icon-txt-btn15{
    left: 194px;
    top: 276px;
    font-size: 15px;
    color: #000;
    padding: 3px 0;
    padding-left: 20px;
    position: absolute;
    text-align: left;
    border: none;
    background: none;
}
.btn-area6 img{
    display: inline-block;
    width: 15px;
    height: 23px;
    position: absolute;
    left: auto;
    right: 0;
}
.btn-area6 .sub-txt{
    left: 265px;
    top: 388px;
}
.btn-area6 button{
    font-size: 15px;
    color: #000;
    padding: 3px 0;
    padding-right: 20px;
    position: absolute;
    text-align: left;
    border: none;
    background: none;
}
.icon-txt-btn16{
    left: 168px;
    top: 132px;
}
.icon-txt-btn17{
    left: 43px;
    top: 150px;
}
.icon-txt-btn18{
    left: 86px;
    top: 175px;
}
.icon-txt-btn19{
    left: 9px;
    top: 205px;
}
.btn-area7 img{
    display: inline-block;
    width: 15px;
    height: 23px;
    position: absolute;
    left: auto;
    right: 0;
}
.btn-area7 .sub-txt{
    left: 289px;
    top: 260px;
}
.btn-area7 button{
    font-size: 15px;
    color: #000;
    padding: 3px 0;
    padding-right: 20px;
    position: absolute;
    text-align: left;
    border: none;
    background: none;
}
.icon-txt-btn20{
    left: 61px;
    top: 74px;
}
.icon-txt-btn21{
    left: 67px;
    top: 165px;
}
.icon-txt-btn22{
    left: 87px;
    top: 244px;
}
.btn-area8 .sub-txt{
    left: 257px;
    top: 154px;
}
.btn-area8 button{
    font-size: 15px;
    color: #000;
    padding: 3px 0;
    padding-left: 20px;
    position: absolute;
    text-align: left;
    border: none;
    background: none;
}
.icon-txt-btn23{
    left: 20px;
    top: 53px;
}
.icon-txt-btn24{
    left: 65px;
    top: 129px;
}
.icon-txt-btn25{
    left: 127px;
    top: 240px;
}

.weather-area{
    border: 1px solid black;
    height: 40%;
    min-width: 500px;
}
.fishinfo{
    border: 1px solid black;
    height: 50%;
    min-width: 500px;
    margin-top: 40px;
}


.list-section{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    border-top: 3px solid #e6e6e6;
    margin-top: 20px;
    justify-content: center;
}

.filter-area{
    display: block;
}
.category-area{
	width: 1200px;;
    margin-top: 50px;
    display: flex;
    position: relative;
    background: #fff;
    top: 0;
    flex-direction: column;
}
.category-title{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
#showList-area{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.list-box-area{
    padding-right: 20px;
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    width: 590px;
    display: block;
    margin-top: 20px;
    background: #fff;
    border: 2px solid #d5d5d5;
    border-radius: 0.3rem;
}
.list-img-box{
    display: flex;
}
.img-box{
    width: 0;
    height: 165px;
    padding-left: 317px;
    overflow: hidden;
    position: relative;
    
}
.img-box img{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: auto;
    transform: translate(-57%, 0);
}
.list-txt-box{
    float: left;
    width: calc(100% - 275px);
    padding-left: 15px;
    margin: 0;
    padding: 0;
}
.list-name{
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 7px;
}
.fish-info{
    margin: 0;
}
.information{
    font-size: 12px
}
.reply{
    font-size: 12px;
    color: black;
}
.like{
    font-size: 12px;
    color: black;
}
.address{
    font-size: 13px;
    color: #878787;
    font-weight: bold;
}
.price-area{
    font-size: 25px;
    font-weight: bold;
    color: #000;
    margin-top: 30px;
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 0;
    width: calc(100% - 290px);
    padding-right: 20px;
}
.goTop{
	position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 50;
}
.topBtn{
	position: relative;
	width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    border: black;
    background-color: white;
    box-shadow: 0 0 0 1px #dadcdf, 0 4px 8px 0 rgba(0,0,0,.15);
    cursor: pointer;
}
.topBtnImg{
	width: 16px; 
	height: 16px;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#more{
	width: 100%;
	background: white;
	margin-top: 10px;
	line-height: 56px;
	font-weight: 600;
	border: 1px solid #ebebeb;
}
#moreA{
	width: 100%;
	background: white;
	margin-top: 10px;
	line-height: 56px;
	font-weight: 600;
	border: 1px solid #ebebeb;
}

