<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https:/mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="fishingBoardMapper">
	<resultMap type="FishingBoard" id="fishingBoardResult">
		<result column="FISHING_NO" property="fishingNo" />
		<result column="FISHING_TITLE" property="fishingTitle" />
		<result column="FISHING_WRITER" property="fishingWriter" />
		<result column="FISHING_CONTENT" property="fishingContent" />
		<result column="FISHING_STATUS" property="fishingStatus" />
		<result column="FISHING_CREATE_DATE"
			property="fishingCreateDate" />
		<result column="FISHING_COUNT" property="fishingCount" />
		<result column="RMEM_NO" property="rmemNo" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="RFISHING_NO" property="rfishingNo" />

	</resultMap>

	<resultMap type="Attachment" id="AttachmentResult">
		<result column="FILE_NO" property="fileNo" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="FILE_PATH" property="filePath" />
		<result column="UPLOAD_DATE" property="uploadDate" />
		<result column="FILE_LEVEL" property="fileLevel" />
		<result column="FILE_STATUS" property="fileStatus" />
		<result column="RFISH_NO" property="rfishNo" />
		<result column="RPRODUCT_NO" property="rproductNo" />
		<result column="RFISHING_NO" property="rfishingNo" />
		<result column="RSTORE_NO" property="rstoreNo" />
	</resultMap>

	<!-- 게시글 작성 쿼리문 -->
	<insert id="insertfishingBoard">
		INSERT INTO FISHBOARD (
		FISHING_NO,
		FISHING_TITLE,
		FISHING_WRITER,
		FISHING_CONTENT,
		FISHING_COUNT,
		RMEM_NO
		)
		VALUES (
		SEQ_FISH_NO.NEXTVAL,
		#{fishingTitle},
		#{fishingWriter},
		#{fishingContent},
		#{fishingCount},
		#{rmemNo}
		)
	</insert>
	<!-- 게시글 작성 쿼리문 -->
	<insert id="insertFishingBoardFile">
		INSERT
		INTO ATTACHMENT (
		FILE_NO
		,ORIGIN_NAME
		,CHANGE_NAME
		,RFISHING_NO
		)
		VALUES (
		SEQ_FILE_NO.NEXTVAL

		,#{originName}
		,#{changeName}
		,SEQ_FISH_NO.CURRVAL
		)
	</insert>
	<!-- 게시글의 총 갯수 조회하는 쿼리 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM
		FISHBOARD
		WHERE FISHING_STATUS = 'Y'
	</select>
	<!-- 게시글 조회 쿼리문 -->
	<select id="selectList" resultMap="fishingBoardResult">
		SELECT
		FB.FISHING_NO,
		AT.CHANGE_NAME,
		FB.FISHING_TITLE,
		FB.FISHING_WRITER,
		FB.FISHING_COUNT,
		TO_CHAR(FB.FISHING_CREATE_DATE, 'YYYY-MM-DD') AS "FISHING_CREATE_DATE"
		FROM
		FISHBOARD FB
		JOIN
		ATTACHMENT AT ON FB.FISHING_NO = AT.RFISHING_NO
		WHERE
		FB.FISHING_STATUS = 'Y'
		ORDER BY
		FB.FISHING_NO DESC
	</select>

	<update id="increaseCount">
		UPDATE FISHBOARD
		SET FISHING_COUNT = FISHING_COUNT + 1
		WHERE FISHING_NO = #{fishingNo}
		AND FISHING_STATUS = 'Y'
	</update>

	<select id="selectBoard" resultMap="fishingBoardResult">

		SELECT
		FB.FISHING_NO
		,FB.FISHING_TITLE
		,FB.FISHING_WRITER
		,FB.FISHING_CONTENT
		,FB.FISHING_COUNT
		,AT.CHANGE_NAME
		,AT.ORIGIN_NAME
		,TO_CHAR(FB.FISHING_CREATE_DATE, 'YYYY-MM-DD') AS "FISHING_CREATE_DATE"
		FROM FISHBOARD FB
		INNER JOIN ATTACHMENT AT ON FB.FISHING_NO = AT.RFISHING_NO
		WHERE FB.FISHING_STATUS = 'Y'
		AND FB.FISHING_NO = #{fishingNo}
	</select>
	
	<update id="updateBoard">
	  UPDATE FISHBOARD
	  		SET FISHING_TITLE = #{fishingTitle},
	  			FISHING_CONTENT = #{fishingContent}
	  			
	  	WHERE FISHING_NO = #{fishingNo}
  </update>
  <update id="updateFileBoard">
	  UPDATE ATTACHMENT
	  		SET 
	  			ORIGIN_NAME = #{originName},
	  			CHANGE_NAME = #{changeName}
	  	WHERE RFISHING_NO = #{fishingNo}
  </update>
  
   <update id="deleteBoard">
	  UPDATE FISHBOARD
	  		SET FISHING_STATUS = 'N'
	  	WHERE FISHING_NO = #{fishingNo}
  </update>
  
  <select id="selectSearchListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM FISHBOARD
		 WHERE FISHING_STATUS = 'Y'
	     <if test="condition == 'fiTitle'"> 
	       AND FISHING_TITLE
	     </if>
	     <if test="condition == 'fiwriter'"> 
	       AND FISHING_WRITER
	  	 </if>
		  LIKE '%' || #{keyword} || '%'
	</select>
 	
 	<select id="selectSearchList" resultMap="fishingBoardResult">
		 SELECT F.FISHING_NO
      ,F.FISHING_TITLE
      ,F.FISHING_COUNT
      ,F.FISHING_WRITER
      ,F.FISHING_CREATE_DATE
      ,A.ORIGIN_NAME
      ,A.CHANGE_NAME
FROM FISHBOARD F
JOIN ATTACHMENT A ON F.FISHING_NO = A.RFISHING_NO
WHERE F.FISHING_STATUS = 'Y'
		 <choose>
		     <when test="condition == 'fiTitle'"> 
		       AND FISHING_TITLE
		     </when>
		     <otherwise> 
		       AND FISHING_WRITER
		  	 </otherwise>
	  	 </choose>
		  LIKE '%' || #{keyword} || '%'
		  ORDER BY FISHING_NO DESC
	</select>
	

	<!-- 통합 검색을 위해 만든 것 -고이환- -->
	<select id="selectFishingList" resultMap="fishingBoardResult">
		SELECT FISHING_NO,
			   FISHING_TITLE
		  FROM FISHBOARD  
		WHERE FISHING_STATUS = 'Y'
		AND FISHING_TITLE LIKE '%' || #{keyword} || '%'
		 	AND ROWNUM &lt;= 2
	</select>
	
	 <select id="selectmainList" resultMap="fishingBoardResult">
	SELECT *
FROM (
    SELECT
        FB.FISHING_NO,
        AT.CHANGE_NAME,
        FB.FISHING_TITLE,
        FB.FISHING_WRITER,
        FB.FISHING_COUNT,
        TO_CHAR(FB.FISHING_CREATE_DATE, 'YYYY-MM-DD') AS "FISHING_CREATE_DATE"
    FROM
        FISHBOARD FB
    JOIN
        ATTACHMENT AT ON FB.FISHING_NO = AT.RFISHING_NO
    WHERE
        FISHING_STATUS = 'Y'
    ORDER BY
        FB.FISHING_NO DESC
)
WHERE
    ROWNUM BETWEEN 1 AND 3
  </select>

</mapper>