<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https:/mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="freeBoardMapper">
	<resultMap type="FreeBoard" id="freeBoardResult">
		<result column="FREE_NO" property="freeNo" />
		<result column="FREE_TITLE" property="freeTitle" />
		<result column="FREE_WRITER" property="freeWriter" />
		<result column="FREE_CONTENT" property="freeContent" />
		<result column="FREE_STATUS" property="status" />
		<result column="FREE_CREATE_DATE" property="createDate" />
		<result column="FREE_COUNT" property="count" />
		<result column="RMEM_NO" property="rmemNo" />
		<result column="LIKE_COUNT" property="likeCount" />
		<result column="ORIGIN_NAME" property="OriginName" />
		<result column="CHANGE_NAME" property="ChangeName" />
		<result column="LIKECOUNT" property="likeCount" />

	</resultMap>
	<resultMap type="Attachment" id="attachmentResult">
		<result column="FISHING_NO" property="freeNo" />
		<result column="FISHING_TITLE" property="freeTitle" />
		<result column="FISHING_WRITER" property="freeWriter" />
		<result column="FISHING_CONTENT" property="freeContent" />
		<result column="FISHING_STATUS" property="status" />
		<result column="FISHING_CREATE_DATE" property="createDate" />
		<result column="FISHING_COUNT" property="count" />
		<result column="RMEM_NO" property="rmemNo" />
		<result column="ORIGIN_NAME" property="OriginName" />
		<result column="CHANGE_NAME" property="ChangeName" />

	</resultMap>
	<resultMap type="Flike" id="flikeResult">
		<result column="RMEM_NO" property="rmemNo" />
		<result column="RFREE_NO" property="rfreeNo" />
		<result column="FREE_GOOD_STATUS" property="freeGoodStatus" />
		<result column="FREE_COUNT" property="count" />
	</resultMap>

	<!-- 게시글의 총 갯수 조회하는 쿼리 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM
		FREEBOARD
		WHERE FREE_STATUS = 'Y'
	</select>

	<insert id="insertFreeBoard">

		INSERT INTO FREEBOARD (
		FREE_NO,
		FREE_TITLE,
		FREE_WRITER,
		FREE_CONTENT
		)
		VALUES (
		SEQ_FREE_NO.NEXTVAL,
		#{freeTitle},
		#{freeWriter},
		#{freeContent}
		)
	</insert>
	<insert id="insertAttachment">
		INSERT INTO ATTACHMENT (
		FILE_NO
		,REF_BNO
		,ORIGIN_NAME
		,CHANGE_NAME
		,FILE_PATH
		)
		VALUES (
		SEQ_FILE_NO.NEXTVAL,
		SEQ_FREE_NO.CURRVAL,
		#{ORIGIN_NAME},
		#{CHANGE_NAME},
		#{FilePath}
		)
	</insert>

	<!-- 게시글 조회 쿼리문 -->
	<select id="selectList" resultMap="freeBoardResult">
		SELECT
    FB.FREE_NO,
    FB.FREE_TITLE,
    FB.FREE_WRITER,
    FB.FREE_COUNT,
    TO_CHAR(FB.FREE_CREATE_DATE, 'YYYY-MM-DD') AS "FREE_CREATE_DATE",
    COUNT(DISTINCT g.RFREE_NO) AS LIKECOUNT
FROM
    FREEBOARD FB
LEFT JOIN
    FREEGOOD g ON FB.FREE_NO = g.RFREE_NO AND g.FREE_GOOD_STATUS = 'Y'
WHERE
    FB.FREE_STATUS = 'Y'
GROUP BY
    FB.FREE_NO,
    FB.FREE_TITLE,
    FB.FREE_WRITER,
    FB.FREE_COUNT,
    TO_CHAR(FB.FREE_CREATE_DATE, 'YYYY-MM-DD')
ORDER BY
    FB.FREE_NO DESC
	</select>

	<update id="increaseCount">
		UPDATE FREEBOARD
		SET FREE_COUNT = FREE_COUNT + 1
		WHERE
		FREE_NO = #{freeNo}
		AND FREE_STATUS = 'Y'
	</update>
	
	<update id="deleteReply">
		UPDATE REPLY
		SET REPLY_STATUS = 'N'
		WHERE
		REPLY_NO = #{replyNo}
		
	</update>

	<select id="selectBoard" resultMap="freeBoardResult">
		SELECT FREE_NO
		,FREE_TITLE
		,FREE_WRITER
		,FREE_CONTENT
		,FREE_STATUS
		,FREE_CREATE_DATE
		,FREE_COUNT
		,TO_CHAR(FREE_CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
		FROM
		FREEBOARD
		WHERE FREE_STATUS = 'Y'
		AND FREE_NO = #{freeNo}
	</select>

	<update id="updateFreeBoard">
	  UPDATE FREEBOARD
	  		SET FREE_TITLE = #{freeTitle},
	  			FREE_CONTENT = #{freeContent}
	  			
	  	WHERE FREE_NO = #{freeNo}
  </update>
  	
  	<!-- 통합 검색을 위해 만든 것 -고이환- -->
  	<select id="selectFreeList" resultMap="freeBoardResult">
  		SELECT FREE_NO,
  			   FREE_TITLE,
  			   FREE_CONTENT,
  			   FREE_WRITER,
  			   FREE_CREATE_DATE
  		  FROM FREEBOARD
  		WHERE FREE_STATUS = 'Y'
  		AND FREE_TITLE LIKE '%' || #{keyword} || '%'
  		AND ROWNUM &lt;= 3
  	</select>

	<update id="deleteBoard">
		UPDATE FREEBOARD
		SET FREE_STATUS = 'N'
		WHERE FREE_NO =
		#{freeNo}
	</update>

	<select id="selectSearchListCount" resultType="_int">
		SELECT COUNT(*)
		FROM FREEBOARD
		WHERE FREE_STATUS = 'Y'
		<if test="condition == 'fTitle'">
			AND FREE_TITLE
		</if>
		<if test="condition == 'fContent'">
			AND FREE_CONTENT
		</if>
		<if test="condition == 'fwriter'">
			AND FREE_WRITER
		</if>
		LIKE '%' || #{keyword} || '%'
	</select>

	<select id="selectSearchList" resultMap="freeBoardResult">
		SELECT FREE_NO
		,FREE_TITLE
		,FREE_COUNT
		,FREE_WRITER
		,FREE_CREATE_DATE
		FROM
		FREEBOARD
		WHERE FREE_STATUS = 'Y'
		<choose>
			<when test="condition == 'fTitle'">
				AND FREE_TITLE
			</when>
			<when test="condition == 'fContent'">
				AND FREE_CONTENT
			</when>
			<otherwise>
				AND FREE_WRITER
			</otherwise>
		</choose>
		LIKE '%' || #{keyword} || '%'
		ORDER BY FREE_NO DESC
	</select>

	<select id="selectmainList" resultMap="freeBoardResult">
	SELECT *
FROM (
    SELECT
        FREE_NO,
        FREE_TITLE,
        FREE_WRITER,
        COALESCE(NULLIF(REGEXP_SUBSTR(FREE_CONTENT, '/bigFish/resources/uploadFiles/[^"]+', 1, 1), ''), '/bigFish/resources/images/1701241591458.png') AS FREE_CONTENT,
        FREE_STATUS
    FROM
        FREEBOARD
    WHERE
        FREE_STATUS = 'Y'
    ORDER BY
        FREE_NO DESC
)
WHERE
    ROWNUM &lt;= 3
	</select>

	<select id="checkLikeTable" resultMap="flikeResult">
		SELECT *
		FROM FREEGOOD
		WHERE RMEM_NO = #{memNo}
		AND RFREE_NO = #{bno}
	</select>

	<insert id="createLikeTable">
		INSERT INTO FREEGOOD (RMEM_NO, RFREE_NO)
		VALUES (#{memNo}, #{bno})
	</insert>

	<select id="likeResult" resultMap="flikeResult">
		SELECT FREE_GOOD_STATUS
		FROM FREEGOOD
		WHERE RMEM_NO = #{rmemNo}
		AND RFREE_NO= #{rfreeNo}
	</select>
	
	<update id="freeUpdateLike">
 		UPDATE FREEGOOD
		SET FREE_GOOD_STATUS = #{result}
		WHERE RFREE_NO = #{freeNo}
		AND RMEM_NO = #{rmemNo}
 	</update>
 	
 	<select id="freeGoodCount"  resultType="_int" >
		SELECT COUNT(*)
		FROM
		FREEGOOD
		WHERE FREE_GOOD_STATUS = 'Y'
        AND RFREE_NO =#{bno}
	</select>
	
	<select id="freeUpdateLike1"  resultType="_int" >
		SELECT COUNT(*)
		FROM
		FREEGOOD
		WHERE FREE_GOOD_STATUS = 'Y'
        AND RFREE_NO =#{rfreeNo}
	</select>


</mapper>
