<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https:/mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="freeBoardMapper">
	<resultMap type="FreeBoard" id="freeBoardResult">
		<result column="FISHING_NO" property="freeNo" />
		<result column="FISHING_TITLE" property="freeTitle" />
		<result column="FISHING_WRITER" property="freeWriter" />
		<result column="FISHING_CONTENT" property="freeContent" />
		<result column="FISHING_STATUS" property="status" />
		<result column="FISHING_CREATE_DATE" property="createDate" />
		<result column="FISHING_COUNT" property="count" />
		<result column="RMEM_NO" property="rmemNo" />
		<result column="ORIGIN_NAME" property="OriginName" />
		<result column="CHANGE_NAME" property="ChangeName" />
	</resultMap>
	<resultMap type="Attachment" id="attachmentResult">
		<result column="FISHING_NO" property="freeNo" />
		<result column="FISHING_TITLE" property="freeTitle" />
		<result column="FISHING_WRITER" property="freeWriter" />
		<result column="FISHING_CONTENT" property="freeContent" />
		<result column="FISHING_STATUS" property="status" />
		<result column="FISHING_CREATE_DATE" property="createDate" />
		<result column="FISHING_COUNT" property="count" />
		<result column="RMEM_NO" property="rmemNo" />
		<result column="ORIGIN_NAME" property="OriginName" />
		<result column="CHANGE_NAME" property="ChangeName" />
	</resultMap>

	<insert id="insertFreeBoard">
  	INSERT INTO FREEBOARD (
					  FREE_NO,
					  FREE_TITLE,
					  FREE_WRITER,
					  FREE_CONTENT
					  )
			VALUES (
					SEQ_FREE_NO.NEXTVAL,
					#{freeTitle},
					#{freeWriter},
					#{freeContent}
					)
  </insert>
	<insert id="insertAttachment">
			INSERT INTO ATTACHMENT (
						FILE_NO
					   ,REF_BNO
					   ,ORIGIN_NAME
					   ,CHANGE_NAME
					   ,FILE_PATH
						)
		VALUES (
		SEQ_FILE_NO.NEXTVAL,
		SEQ_FREE_NO.CURRVAL,
		#{ORIGIN_NAME},
		#{CHANGE_NAME},
		#{FilePath}
		)
	</insert>
</mapper>
