<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https:/mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kakaoRequestDto-mapper">
	<resultMap type="KakaoRequestDto" id="kakaoRequestDtoResult">
		<result column="C_NO" property="payNo"/>
		<result column="C_ID" property="cid"/>
		<result column="PARTNER_ORDER_ID" property="partner_order_id"/>
		<result column="PARTNER_USER_ID" property="partner_user_id"/>
		<result column="ITEM_NAME" property="item_name"/>
		<result column="QUANTITY" property="quantity"/>
		<result column="TOTAL_AMOUNT" property="total_amount"/>
		<result column="VAT_AMOUNT" property="vat_amount"/>
		<result column="TAX_FREE_AMOUNT" property="tax_free_amount"/>
		<result column="APPROVAL_URL" property="approval_url"/>
		<result column="FAIL_URL" property="fail_url"/>
		<result column="CANCEL_URL" property="cancel_url"/>
		<result column="PG_TOKEN" property="pg_token"/>
		<result column="PRODUCT_NO" property="productNo"/>
	</resultMap>

	
</mapper>