<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https:/mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kakaoRequestDtoMapper">
	<resultMap type="KakaoRequestDto" id="kakaoRequestDtoResult">
		<result column="C_NO" property="payNo" />
		<result column="C_ID" property="cid" />
		<result column="PARTNER_ORDER_ID" property="partner_order_id" />
		<result column="PARTNER_USER_ID" property="partner_user_id" />
		<result column="ITEM_NAME" property="item_name" />
		<result column="QUANTITY" property="quantity" />
		<result column="TOTAL_AMOUNT" property="total_amount" />
		<result column="VAT_AMOUNT" property="vat_amount" />
		<result column="TAX_FREE_AMOUNT" property="tax_free_amount" />
		<result column="APPROVAL_URL" property="approval_url" />
		<result column="FAIL_URL" property="fail_url" />
		<result column="CANCEL_URL" property="cancel_url" />
		<result column="PG_TOKEN" property="pg_token" />
		<result column="PRODUCT_NO" property="productNo" />
		<result column="PAY_DATE" property="payDate" />
			<result column="FISHING_NO" property="fishingNo" />
			<result column="CHANGE_NAME" property="changeName" />
			<result column="RPRODUCT_NO" property="rproductNo" />
	</resultMap>
	
	<insert id="insertParameter">
		INSERT INTO KAKOREQUESTDTO (
		C_NO,
		C_ID,
		PARTNER_ORDER_ID,
		PARTNER_USER_ID,
		ITEM_NAME,
		QUANTITY,
		TOTAL_AMOUNT,
		VAT_AMOUNT,
		TAX_FREE_AMOUNT,
		APPROVAL_URL,
		FAIL_URL,
		CANCEL_URL,
		PAY_DATE
		)
		VALUES (
		SEQ_C_NO.NEXTVAL,
		#{cid},
		#{partner_order_id},
		#{partner_user_id},
		#{item_name},
		#{quantity},
		#{total_amount},
		#{vat_amount},
		#{tax_free_amount},
		COALESCE(#{approval_url}, 'DEFAULT_URL'),
		#{fail_url},
		#{cancel_url},
		SYSDATE
		)
	</insert>
	<update id="updatePg_token">
	UPDATE KAKOREQUESTDTO
	SET PG_TOKEN = COALESCE(#{pg_token}, 'DEFAULT_URL'),
	PRODUCT_NO = #{productNo}
	WHERE C_NO = (SELECT C_NO
	FROM (SELECT C_NO
	FROM KAKOREQUESTDTO
	ORDER BY C_NO DESC)
	WHERE ROWNUM = 1)
</update>
	<select id="selectKakaoRequestDtoList"
		resultMap="kakaoRequestDtoResult">
		SELECT
    k.C_NO,
    k.C_ID,
    k.PARTNER_ORDER_ID,
    k.PARTNER_USER_ID,
    k.ITEM_NAME,
    k.QUANTITY,
    k.TOTAL_AMOUNT,
    k.VAT_AMOUNT,
    k.TAX_FREE_AMOUNT,
    k.APPROVAL_URL,
    k.FAIL_URL,
    k.CANCEL_URL,
    k.PRODUCT_NO,
    k.PG_TOKEN,
    k.PAY_DATE,
    a.CHANGE_NAME
FROM
    KAKOREQUESTDTO k
JOIN
    ATTACHMENT a ON k.PRODUCT_NO = a.RPRODUCT_NO
WHERE
    k.PARTNER_USER_ID = #{MemId}
ORDER BY
    k.C_NO DESC
	</select>

</mapper>