<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https:/mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="memberMapper">
	<resultMap type="Member" id="memberResult">
		<result column="MEM_NO" property="memNo"/>
		<result column="MEM_ID" property="memId"/>
		<result column="MEM_PWD" property="memPwd"/>
		<result column="MEM_NICK" property="memNick"/>
		<result column="PHONE" property="phone"/>
		<result column="ADDRESS" property="address"/>
		<result column="ADDRESS_DETAIL" property="addressDetail"/>
		<result column="POST_NO" property="postNo"/>
		<result column="MEM_CREATE_DATE" property="memCreateDate"/>
		<result column="MEM_STATUS" property="memStatus"/>
		<result column="BUSINESS_STATUS" property="businessStatus"/>
		<result column="MEM_ADMIN" property="memAdmin"/>
		<result column="MEM_CHANGE_NAME" property="memChangeName"/>
	</resultMap>
	
	<!-- 일반회원 로그인 쿼리문 -->
	<select id="loginMember" resultMap="memberResult">
	SELECT MEM_NO,
        MEM_ID,
        MEM_PWD,
        MEM_NICK,
        PHONE,
        ADDRESS,
        ADDRESS_DETAIL,
        POST_NO,
        MEM_CREATE_DATE,
        MEM_STATUS,
        BUSINESS_STATUS,
        MEM_ADMIN,
        MEM_CHANGE_NAME
	FROM MEMBER
	WHERE MEM_ID = #{memId}
	    AND MEM_PWD = #{memPwd}
	</select>
	
	<!-- 일반회원 로그인 쿼리문(아이디만) -->
	<select id="loginMemberId" resultMap="memberResult">
	SELECT MEM_NO,
        MEM_ID,
        MEM_PWD,
        MEM_NICK,
        PHONE,
        ADDRESS,
        ADDRESS_DETAIL,
        POST_NO,
        MEM_CREATE_DATE,
        MEM_STATUS,
        BUSINESS_STATUS,
        MEM_ADMIN,
        MEM_CHANGE_NAME
	FROM MEMBER
	WHERE MEM_ID = #{memId}
	</select>
	
	<!-- 회원 가입 시 이메일 중복 체크 쿼리 -->
	<select id="checkEmailId" resultType="_int">
	SELECT COUNT(*)
	FROM MEMBER
	WHERE MEM_ID = #{emailId}
	</select>
	
	<!-- 회원 가입 시 닉네임 중복 체크 쿼리 -->
	<select id="checkNick" resultType="_int">
	SELECT COUNT(*)
	FROM MEMBER
	WHERE MEM_NICK = #{memNick}
	</select>
	
	<!--  일반 회원 가입 -->
	<insert id="insertPersonalMember">
	INSERT INTO MEMBER(
						MEM_NO,
						MEM_ID,
						MEM_PWD,
						MEM_NICK,
						PHONE,
						ADDRESS,
						ADDRESS_DETAIL,
						POST_NO,
						MEM_CHANGE_NAME
						)
				VALUES(
						SEQ_MEM_NO.NEXTVAL,
						#{memId},
						#{memPwd},
						#{memNick},
						#{phone},
						#{address},
						#{addressDetail},
						#{postNo},
						'resources/images/basicProfile.png'
						)		
	</insert>
	
	<insert id="insertNaverMember">
		INSERT INTO MEMBER(
						MEM_NO,
						MEM_ID,
						MEM_NICK,
						PHONE,
						ADDRESS,
						ADDRESS_DETAIL,
						POST_NO,
						MEM_CHANGE_NAME
						)
				VALUES(
						SEQ_MEM_NO.NEXTVAL,
						#{memId},
						#{memNick},
						#{phone},
						#{address},
						#{addressDetail},
						#{postNo},
						'resources/images/basicProfile.png'
						)
	</insert>
	
	<!-- 사업자 회원 가입 -->
	<insert id="insertCompanyMember">
	INSERT INTO MEMBER(
					MEM_NO,
					MEM_ID,
					MEM_PWD,
					MEM_NICK,
					PHONE,
					BUSINESS_STATUS,
					MEM_CHANGE_NAME
					)
			VALUES(
					SEQ_MEM_NO.NEXTVAL,
					#{memId},
					#{memPwd},
					#{memNick},
					#{phone},
					'Y',
					'resources/images/basicProfile.png'
					)
	</insert>
	
	<!-- 휴대폰 번호 변경 -->
	<update id="updatePhone">
    UPDATE MEMBER
    SET PHONE = #{phone}
    WHERE MEM_NO = #{memNo}
	</update>
	
	<!-- 닉네임 변경 -->
	<update id="updateNick">
    UPDATE MEMBER
    SET MEM_NICK = #{memNick}
    WHERE MEM_NO = #{memNo}
	</update>
	
	<!-- 주소 변경 -->
	<update id="updateAddress">
    UPDATE MEMBER
    SET ADDRESS = #{address},
    	ADDRESS_DETAIL = #{addressDetail},
    	POST_NO = #{postNo}
    WHERE MEM_NO = #{memNo}		
	</update>
	
	<!-- 프로필 변경 -->
	<update id="profileImgAreaChange">
    UPDATE MEMBER
    SET MEM_CHANGE_NAME = #{memChangeName}
    WHERE MEM_NO = #{memNo}
	</update>
	
	<!-- 정보변경 이후 로그인 정보 가져오기 -->
	<select id="takeUserInfo" resultMap="memberResult">
	SELECT MEM_NO,
        MEM_ID,
        MEM_PWD,
        MEM_NICK,
        PHONE,
        ADDRESS,
        ADDRESS_DETAIL,
        POST_NO,
        MEM_CREATE_DATE,
        MEM_STATUS,
        BUSINESS_STATUS,
        MEM_ADMIN,
        MEM_CHANGE_NAME
	FROM MEMBER
	WHERE MEM_NO = #{memNo}
	</select>
	
	<!-- 네이버 로그인 아이디 체크 -->
	<select id="checkMember" resultMap="memberResult">
	SELECT MEM_NO,
        MEM_ID,
        MEM_PWD,
        MEM_NICK,
        PHONE,
        ADDRESS,
        ADDRESS_DETAIL,
        POST_NO,
        MEM_CREATE_DATE,
        MEM_STATUS,
        BUSINESS_STATUS,
        MEM_ADMIN,
        MEM_CHANGE_NAME
	FROM MEMBER
	WHERE MEM_ID = #{memId}
	</select>
	
	<select id="findId" resultMap="memberResult">
	SELECT MEM_NO,
		MEM_ID,
		MEM_NICK,
		PHONE
	FROM MEMBER
	WHERE MEM_NICK = #{memNick} AND PHONE = #{phone}
	</select>
	
	<select id="findPwd" resultMap="memberResult">
	SELECT MEM_NO,
		MEM_ID,
		MEM_PWD,
		PHONE
	FROM MEMBER
	WHERE MEM_ID = #{memId} AND PHONE = #{phone}
	</select>
	
	<select id="getMemberInfoForChat" resultMap="memberResult">
	SELECT MEM_NO,
			MEM_ID,
			MEM_NICK
	FROM MEMBER
	WHERE MEM_NO = #{senderId}
	</select>
	
	<select id="getUserNameInfoForChat" resultMap="memberResult">
	SELECT MEM_NICK
	FROM MEMBER
	WHERE MEM_NO = #{memNo}
	</select>
	
	<update id="updateTmpPwd">
	UPDATE MEMBER
	SET MEM_PWD = #{memPwd}
	WHERE MEM_NO = #{memNo}
	</update>
	
	<update id="updateMyPwd">
	UPDATE MEMBER
	SET MEM_PWD = #{memPwd}
	WHERE MEM_NO = #{memNo}
	</update>
	
	<select id="nickIsSame" resultType="_int">
	SELECT COUNT(*)
	FROM MEMBER
	WHERE MEM_NICK = #{memNick}
	</select>
	
</mapper>