<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https:/mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="replyMapper">
	<resultMap type="Reply" id="replyResult">
		<result column="REPLY_NO" property="replyNo"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="REPLY_WRITER" property="replyWriter"/>
		<result column="REPLY_CREATE_DATE" property="replyCreateDate"/>
		<result column="REPLY_STATUS" property="replyStatus"/>
		<result column="RMEM_NO" property="rmemNo"/>
		<result column="RFREE_NO" property="rfreeNo"/>
		<result column="RFISHING_NO" property="rfishingNo"/>
		<result column="RSTUDY_NO" property="rstudyNo"/>
	</resultMap>
	
	<select id="selectReplyList" resultMap="replyResult">
		SELECT REPLY_NO,
			   REPLY_CONTENT,
			   REPLY_WRITER,
			   TO_CHAR(REPLY_CREATE_DATE, 'YYYY-MM-DD') AS REPLY_CREATE_DATE
		   FROM REPLY
	     WHERE REPLY_STATUS = 'Y'
	       AND RSTUDY_NO = #{sno}
	     ORDER BY REPLY_NO DESC
	</select>
	<select id="selectfreeReplyList" resultMap="replyResult">
		SELECT REPLY_NO,
			   REPLY_CONTENT,
			   REPLY_WRITER,
			   TO_CHAR(REPLY_CREATE_DATE, 'YYYY-MM-DD') AS REPLY_CREATE_DATE
		   FROM REPLY
	     WHERE REPLY_STATUS = 'Y'
	       AND RFISHING_NO = #{bno}
	     ORDER BY REPLY_NO DESC
	</select>
	<select id="selectfrReplyList" resultMap="replyResult">
		SELECT REPLY_NO,
			   REPLY_CONTENT,
			   REPLY_WRITER,
			   TO_CHAR(REPLY_CREATE_DATE, 'YYYY-MM-DD') AS REPLY_CREATE_DATE
		   FROM REPLY
	     WHERE REPLY_STATUS = 'Y'
	       AND RFREE_NO = #{bno}
	     ORDER BY REPLY_NO DESC
	</select>
	
	<insert id="insertReply" >
		INSERT INTO REPLY (
			 REPLY_NO,
			 REPLY_CONTENT,
			 RSTUDY_NO,
			 REPLY_WRITER 
		     )
		 VALUES (
		 	SEQ_REPLY_NO.NEXTVAL,
		 	#{replyContent},
		 	#{rstudyNo},
		 	#{replyWriter}
		   )
	</insert>
	<insert id="insertfreeReply" >
		INSERT INTO REPLY (
			 REPLY_NO,
			 REPLY_CONTENT,
			 RFREE_NO,
			 REPLY_WRITER 
		     )
		 VALUES (
		 	SEQ_REPLY_NO.NEXTVAL,
		 	#{replyContent},
		 	#{rfreeNo},
		 	#{replyWriter}
		   )
	</insert>
	
	<insert id="insertReplyStore">
		INSERT INTO REPLY (
			 REPLY_NO,
			 REPLY_CONTENT,
			 REPLY_WRITER ,
			 RMEM_NO,
			 RSTORE_NO
		     )
		 VALUES (
		 	SEQ_REPLY_NO.NEXTVAL,
		 	#{replyContent},
		 	#{replyWriter},
		 	#{rmemNo},
		 	#{rstoreNo}
		   )
	</insert>
	
	<insert id="insertFreeReply">
		INSERT INTO REPLY (
			 REPLY_NO,
			 REPLY_CONTENT,
			 REPLY_WRITER ,
			 RMEM_NO,
			 RFREE_NO
		     )
		 VALUES (
		 	SEQ_REPLY_NO.NEXTVAL,
		 	#{replyContent},
		 	#{replyWriter},
		 	#{rmemNo},
		 	#{rfishungNo}
		   )
	</insert>
	<insert id="insertfiReply">
		INSERT INTO REPLY (
			 REPLY_NO,
			 REPLY_CONTENT,
			 REPLY_WRITER ,
			
			  RFISHING_NO
		     )
		 VALUES (
		 	SEQ_REPLY_NO.NEXTVAL,
		 	#{replyContent},
		 	#{replyWriter},
		 	
		 	#{rfreeNo}
		   )
	</insert>
	
	
	<select id="storeReplyCount" resultType="_int">
		SELECT COUNT(*)
		FROM REPLY
		WHERE RSTORE_NO = #{rstoreNo}
		AND REPLY_STATUS = 'Y'
	</select>
	
	<select id="storeReplyList" resultMap="replyResult">
		SELECT REPLY_NO,
			   REPLY_CONTENT,
			   REPLY_WRITER,
			   TO_CHAR(REPLY_CREATE_DATE, 'YYYY-MM-DD') AS REPLY_CREATE_DATE,
			   RMEM_NO
		   FROM REPLY
	     WHERE REPLY_STATUS = 'Y'
	       AND RSTORE_NO = #{sNum}
	     ORDER BY REPLY_NO DESC
	</select>
	
	<update id="deleteReply">
		UPDATE REPLY
		SET reply_status = 'N'
		WHERE reply_no = #{rNum}
	</update>
	
	<select id="freeReplyCount" resultType="_int">
		SELECT COUNT(*)
		FROM REPLY
		WHERE RFREE_NO = #{rfreeNo}
		AND REPLY_STATUS = 'Y'
	</select>
	
	<update id="deleteFreeReply">
		UPDATE REPLY
		SET reply_status = 'N'
		WHERE reply_no = #{rNum}
	</update>
	
	<select id="freeReplyList" resultMap="replyResult">
		SELECT REPLY_NO,
			   REPLY_CONTENT,
			   REPLY_WRITER,
			   TO_CHAR(REPLY_CREATE_DATE, 'YYYY-MM-DD') AS REPLY_CREATE_DATE,
			   RMEM_NO
		   FROM REPLY
	     WHERE REPLY_STATUS = 'Y'
	       AND RFREE_NO = #{sNum}
	     ORDER BY REPLY_NO DESC
	</select>
	
</mapper>