<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https:/mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
 <mapper namespace="reservationMapper">
 
 	<resultMap type="Reservation" id="reservationResult">
 		<result column="REV_NO" property="revNo"/>
 		<result column="RMEM_NO" property="rmemNo"/>
 		<result column="RSTORE_NO" property="rstoreNo"/>
 		<result column="RTICKET_NO" property="rticketNo"/>
 		<result column="REV_DATE" property="revDate"/>
 		<result column="REV_PEOPLE" property="revPeople"/>
 		<result column="REV_START" property="revStart"/>
 		<result column="REV_END" property="revEnd"/>
 		<result column="REV_STATUS" property="revStatus"/>
 		<result column="REV_REQUEST" property="revRequest"/>
 		<result column="REV_NAME" property="revName"/>
 		<result column="REV_PHONE" property="revPhone"/>
 		<result column="STORE_NAME" property="rstoreName"/>
        <result column="TICKET_NAME" property="rticketName"/>
        <result column="TICKET_PRICE" property="rticketPrice"/>
        <result column="TICKET_TIME" property="rticketTime"/>    
 	</resultMap>
 
 	<insert id="insertReservation" parameterType="Reservation">
 		INSERT INTO RESERVATION (rev_no, rmem_no, rstore_no, rticket_no, rev_date, rev_people, rev_start, rev_end, rev_status, rev_request, rev_name, rev_phone)
		VALUES
		(SEQ_REV_NO.NEXTVAL, 
		#{rmemNo}, 
		#{rstoreNo},
		#{rticketNo},
		DEFAULT, 
		#{revPeople}, 
		TO_DATE(#{revStart}, 'YYYY-MM-DD HH24:MI'), 
		TO_DATE(#{revEnd}, 'YYYY-MM-DD HH24:MI'), 
		'N', 
		#{revRequest}, 
		#{revName}, 
		#{revPhone})
 	</insert>
 	

 	<select id="selectReservationList" resultMap="reservationResult">
 		SELECT R.REV_NO,
 			R.RMEM_NO,
 			R.RSTORE_NO,
 			R.REV_DATE,
 			R.REV_PEOPLE,
 			R.REV_START,
 			R.REV_END,
 			R.REV_STATUS,
 			R.REV_REQUEST,
 			R.REV_NAME,
 			R.REV_PHONE,
 			S.STORE_NAME,
            T.TICKET_NAME,
            T.TICKET_PRICE,
            T.TICKET_TIME
 		FROM RESERVATION R
 		LEFT JOIN STORE S ON R.RSTORE_NO = S.STORE_NO
 		LEFT JOIN TICKET T ON R.RTICKET_NO = T.TICKET_NO
 		WHERE R.RMEM_NO = #{memNo} 	
	</select>

 	<select id="jungbokCheck" resultType="_int">
		SELECT COALESCE(SUM(r.REV_PEOPLE), 0) AS RESERVED_PEOPLE
		FROM STORE s
		LEFT JOIN RESERVATION r ON s.STORE_NO = r.RSTORE_NO
		WHERE s.STORE_NO = #{rstoreNo}
		AND r.REV_STATUS = 'Y'
		AND (
		    (#{revStart} &gt;= r.REV_START AND #{revStart} &lt; r.REV_END)
		    OR (#{revEnd} &gt; r.REV_START AND #{revEnd} &lt;= r.REV_END)
		    OR (#{revStart} &lt;= r.REV_START AND #{revEnd} &gt;= r.REV_END)
			)
 	</select>
 	
 	<select id="getReservationService" resultMap="reservationResult">
 	SELECT REV_NO,
 		RMEM_NO,
 		RSTORE_NO,
 		REV_DATE,
 		REV_PEOPLE,
 		REV_START,
 		REV_END,
 		REV_STATUS,
 		REV_REQUEST,
 		REV_NAME,
 		REV_PHONE
 	FROM RESERVATION
 	WHERE REV_NO = #{revNo}
 	</select>
 
 </mapper>