<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https:/mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="storeMapper">

	<resultMap type="Store" id="storeResult">
		<result column="STORE_NO" property="storeNo" />
		<result column="RMEM_NO" property="rmemNo" />
		<result column="LOCATION_BIG" property="locationBig" />
		<result column="LOCATION_SMALL" property="locationSmall" />
		<result column="STORE_ADDRESS" property="storeAddress" />
		<result column="STORE_ADDRESS_DETAIL"
			property="storeAddressDetail" />
		<result column="STORE_POST_NO" property="storePostNo" />
		<result column="STORE_NAME" property="storeName" />
		<result column="STORE_PHONE" property="storePhone" />
		<result column="MAX_MEMBER" property="maxMember" />
		<result column="STORE_WEEKDAY" property="storeWeekday" />
		<result column="STORE_WEEKEND" property="storeWeekend" />
		<result column="STORE_GROUP" property="storeGroup" />
		<result column="STORE_KIND" property="storeKind" />
		<result column="STORE_FISH_KIND" property="storeFishKind" />
		<result column="RESERVATION_DETAIL"
			property="reservationDetail" />
		<result column="BUSINESS_NO" property="businessNo" />
		<result column="STORE_STATUS" property="storeStatus" />
		<result column="LIKE_COUNT" property="likeCount" />
		<result column="MIN_PRICE" property="minPrice" />
		<result column="reply_count" property="replyCount" />
		<result column="CHANGE_NAME" property="thumbnailImg" />
	</resultMap>

	<resultMap type="TicKet" id="ticketResult">
		<result column="TICKET_NO" property="ticketNo" />
		<result column="RSTORE_NO" property="rstoreNo" />
		<result column="TICKET_NAME" property="ticketName" />
		<result column="TICKET_PRICE" property="ticketPrice" />
		<result column="TICKET_TIME" property="ticketTime" />
	</resultMap>

	<resultMap type="Slike" id="slikeResult">
		<result column="RMEM_NO" property="rmemNo" />
		<result column="RSTORE_NO" property="rstoreNo" />
		<result column="STORE_GOOD_STATUS" property="storeGoodStatus" />
	</resultMap>

	<resultMap type="Attachment" id="attachmentResult">
		<result column="FILE_NO" property="fileNo" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="FILE_PATH" property="filePath" />
		<result column="UPLOAD_DATE" property="uploadDate" />
		<result column="FILE_LEVEL" property="fileLevel" />
		<result column="FILE_STATUS" property="fileStatus" />
		<result column="RSTORE_NO" property="rstoreNo" />
	</resultMap>

	<select id="checkBusinessNo" resultType="_int">
		SELECT COUNT(*)
		FROM
		STORE
		WHERE BUSINESS_NO = #{businessNo}
	</select>

	<select id="storeCount" resultType="_int">
		SELECT COUNT(*)
		FROM STORE
		WHERE (STORE_KIND = 'FreshSeat'
		OR STORE_KIND = 'FreshCafe')
		AND
		STORE_STATUS = 'open'
	</select>

	<select id="filteredStoreCount" resultType="_int">
		SELECT COUNT(*)
		FROM STORE
		WHERE LOCATION_BIG = #{locationBig}
		<if test="locationSmall != '전체'">
			AND LOCATION_SMALL = #{locationSmall}
		</if>
		AND STORE_STATUS = 'open'
	</select>

	<select id="ajaxStoreList" resultMap="storeResult">
		SELECT
		s.STORE_NO,
		s.STORE_ADDRESS,
		s.STORE_NAME,
		COUNT(DISTINCT CASE WHEN
		g.STORE_GOOD_STATUS = 'Y' THEN g.RSTORE_NO END) AS
		like_count,
		COALESCE(MIN(t.TICKET_PRICE), 0) AS min_price,
		COUNT(DISTINCT CASE WHEN
		r.REPLY_STATUS = 'Y' THEN r.REPLY_NO END) AS reply_count,
		CHANGE_NAME
		FROM
		STORE s
		LEFT JOIN
		STOREGOOD g ON s.STORE_NO = g.RSTORE_NO
		LEFT JOIN
		TICKET t ON s.STORE_NO = t.RSTORE_NO
		LEFT JOIN
		REPLY r ON s.STORE_NO =
		r.RSTORE_NO
		LEFT JOIN
		ATTACHMENT a ON s.STORE_NO = a.RSTORE_NO AND
		a.FILE_LEVEL = 1
		WHERE (STORE_KIND = 'FreshSeat'
		OR STORE_KIND =
		'FreshCafe')
		AND s.LOCATION_BIG = #{locationBig}
		<if test="locationSmall != '전체'">
			AND s.LOCATION_SMALL = #{locationSmall}
		</if>
		AND s.STORE_STATUS = 'open'
		GROUP BY
		s.STORE_NO, s.STORE_ADDRESS,
		s.STORE_NAME, CHANGE_NAME
	</select>

	<select id="resDetailPage" resultMap="storeResult">
		SELECT *
		FROM STORE
		WHERE
		STORE_NO = #{num}
		AND STORE_STATUS = 'open'
	</select>

	<select id="storePhoto" resultMap="attachmentResult">
		SELECT CHANGE_NAME, FILE_PATH
		FROM ATTACHMENT
		WHERE RSTORE_NO = #{storeNum}
		AND ORIGIN_NAME IS NOT
		NULL
		ORDER BY FILE_LEVEL ASC
	</select>

	<insert id="insertStore">
		INSERT INTO STORE(
		STORE_NO,
		RMEM_NO,
		LOCATION_BIG,
		LOCATION_SMALL,
		STORE_ADDRESS,
		STORE_ADDRESS_DETAIL,
		STORE_POST_NO,
		STORE_NAME,
		STORE_PHONE,
		MAX_MEMBER,
		STORE_WEEKDAY,
		STORE_WEEKEND,
		STORE_GROUP,
		STORE_KIND,
		STORE_FISH_KIND,
		BUSINESS_NO
		)
		VALUES(
		SEQ_STORE_NO.NEXTVAL,
		SEQ_MEM_NO.CURRVAL,
		#{locationBig},
		#{locationSmall},
		#{storeAddress},
		#{storeAddressDetail},
		#{storePostNo},
		#{storeName},
		#{storePhone},
		#{maxMember},
		#{storeWeekday},
		#{storeWeekend},
		#{storeGroup},
		#{storeKind},
		#{storeFishKind},
		#{businessNo}
		)
	</insert>

	<insert id="insertTicket">
		INSERT INTO TICKET(
		TICKET_NO,
		RSTORE_NO,
		TICKET_NAME,
		TICKET_PRICE,
		TICKET_TIME
		)
		VALUES(
		SEQ_TICKET_NO.NEXTVAL,
		SEQ_STORE_NO.CURRVAL,
		#{ticketName},
		#{ticketPrice},
		#{ticketTime}
		)
	</insert>

	<insert id="insertAttachment">
		INSERT INTO ATTACHMENT(
		FILE_NO,
		ORIGIN_NAME,
		CHANGE_NAME,
		FILE_PATH,
		RSTORE_NO,
		FILE_LEVEL
		)
		VALUES(
		SEQ_FILE_NO.NEXTVAL,
		#{originName},
		#{changeName},
		#{filePath},
		SEQ_STORE_NO.CURRVAL,
		#{fileLevel}
		)
	</insert>

	<select id="TicketTime" resultMap="ticketResult">
		SELECT *
		FROM TICKET
		WHERE
		RSTORE_NO = #{rstoreNo}
	</select>

	<insert id="createLikeTable">
		INSERT INTO STOREGOOD (RMEM_NO, RSTORE_NO)
		VALUES
		(#{memNo}, #{storeNum})
	</insert>

	<select id="checkLikeTable" resultMap="slikeResult">
		SELECT *
		FROM STOREGOOD
		WHERE RMEM_NO = #{memNo}
		AND RSTORE_NO = #{storeNum}
	</select>

	<select id="likeResult" resultMap="slikeResult">
		SELECT STORE_GOOD_STATUS
		FROM
		STOREGOOD
		WHERE RMEM_NO = #{rmemNo}
		AND RSTORE_NO
		= #{rstoreNo}
	</select>

	<update id="storeUpdateLike">
		UPDATE STOREGOOD
		SET STORE_GOOD_STATUS = #{result}
		WHERE RSTORE_NO =
		#{rstoreNo}
		AND RMEM_NO = #{rmemNo}
	</update>

	<select id="storeList" resultMap="storeResult">
		SELECT
		s.STORE_NO,
		s.STORE_ADDRESS,
		s.STORE_NAME,
		(SELECT COUNT(g.RSTORE_NO) FROM STOREGOOD g WHERE g.RSTORE_NO = s.STORE_NO AND g.STORE_GOOD_STATUS = 'Y') AS like_count,
		COALESCE(MIN(t.TICKET_PRICE), 0) AS min_price,
		COUNT(DISTINCT CASE WHEN
		r.REPLY_STATUS = 'Y' THEN r.REPLY_NO END) AS reply_count,
		CHANGE_NAME
		FROM
		STORE s
		LEFT JOIN
		STOREGOOD g ON s.STORE_NO = g.RSTORE_NO
		LEFT JOIN
		TICKET t ON s.STORE_NO = t.RSTORE_NO
		LEFT JOIN
		REPLY r ON s.STORE_NO =
		r.RSTORE_NO
		LEFT JOIN
		ATTACHMENT a ON s.STORE_NO = a.RSTORE_NO AND
		a.FILE_LEVEL = 1
		WHERE (STORE_KIND =
		'FreshSeat'
		OR STORE_KIND =
		'FreshCafe')
		AND STORE_STATUS = 'open'
		GROUP BY
		s.STORE_NO,
		s.STORE_ADDRESS, s.STORE_NAME, CHANGE_NAME
		ORDER BY
		like_count DESC
	</select>

	<select id="seaStoreCount" resultType="_int">
		SELECT COUNT(*)
		FROM STORE
		WHERE STORE_KIND = 'seaShip'
		OR STORE_KIND = 'seaSeat'
		AND STORE_STATUS
		= 'open'
	</select>

	<select id="seaStoreList" resultMap="storeResult">
		SELECT
		s.STORE_NO,
		s.STORE_ADDRESS,
		s.STORE_NAME,
		(SELECT COUNT(g.RSTORE_NO) FROM STOREGOOD g WHERE g.RSTORE_NO = s.STORE_NO AND g.STORE_GOOD_STATUS = 'Y') AS like_count,
		COALESCE(MIN(t.TICKET_PRICE), 0) AS min_price,
		COUNT(DISTINCT CASE WHEN
		r.REPLY_STATUS = 'Y' THEN r.REPLY_NO END) AS reply_count,
		CHANGE_NAME
		FROM
		STORE s
		LEFT JOIN
		STOREGOOD g ON s.STORE_NO = g.RSTORE_NO
		LEFT JOIN
		TICKET t ON s.STORE_NO = t.RSTORE_NO
		LEFT JOIN
		REPLY r ON s.STORE_NO =
		r.RSTORE_NO
		LEFT JOIN
		ATTACHMENT a ON s.STORE_NO = a.RSTORE_NO AND
		a.FILE_LEVEL = 1
		WHERE (STORE_KIND =
		'seaShip'
		OR STORE_KIND = 'seaSeat')
		AND STORE_STATUS = 'open'
		GROUP BY
		s.STORE_NO, s.STORE_ADDRESS,
		s.STORE_NAME, CHANGE_NAME
		ORDER BY
		like_count DESC
	</select>

	<select id="ajaxSeaStoreCount" resultType="_int">
		SELECT COUNT(*)
		FROM
		(SELECT *
		FROM STORE
		WHERE STORE_KIND = 'seaShip'
		OR STORE_KIND =
		'seaSeat')
		WHERE LOCATION_SMALL = #{city1}
		OR LOCATION_SMALL = #{city2}
		OR LOCATION_SMALL = #{city3}
		OR LOCATION_SMALL = #{city4}
		OR
		LOCATION_SMALL = #{city5}
		OR LOCATION_SMALL = #{city6}
		AND STORE_STATUS
		= 'open'
	</select>

	<select id="ajaxSeaStoreList" resultMap="storeResult">
		SELECT *
		FROM (SELECT
		s.STORE_NO,
		s.STORE_ADDRESS,
		s.STORE_NAME,
		COUNT(DISTINCT CASE WHEN
		g.STORE_GOOD_STATUS = 'Y' THEN g.RSTORE_NO END) AS
		like_count,
		COALESCE(MIN(t.TICKET_PRICE), 0) AS min_price,
		COUNT(DISTINCT CASE WHEN
		r.REPLY_STATUS = 'Y' THEN r.REPLY_NO END) AS reply_count,
		CHANGE_NAME,
		LOCATION_SMALL
		FROM
		STORE s
		LEFT JOIN
		STOREGOOD g ON s.STORE_NO =
		g.RSTORE_NO
		LEFT JOIN
		TICKET t ON s.STORE_NO = t.RSTORE_NO
		LEFT JOIN
		REPLY r ON s.STORE_NO = r.RSTORE_NO
		LEFT JOIN
		ATTACHMENT a ON s.STORE_NO
		= a.RSTORE_NO AND a.FILE_LEVEL = 1
		WHERE STORE_KIND = 'seaShip'
		OR
		STORE_KIND = 'seaSeat'
		AND STORE_STATUS = 'open'
		GROUP BY
		s.STORE_NO,
		s.STORE_ADDRESS, s.STORE_NAME, CHANGE_NAME, LOCATION_SMALL)
		WHERE
		LOCATION_SMALL = #{city1}
		OR LOCATION_SMALL = #{city2}
		OR LOCATION_SMALL
		= #{city3}
		OR LOCATION_SMALL = #{city4}
		OR LOCATION_SMALL = #{city5}
		OR
		LOCATION_SMALL = #{city6}
	</select>

	<select id="selectMyStoreList" resultMap="storeResult">
		SELECT STORE_NO,
		RMEM_NO,
		LOCATION_BIG,
		LOCATION_SMALL,
		STORE_ADDRESS,
		STORE_ADDRESS_DETAIL,
		STORE_POST_NO,
		STORE_NAME,
		STORE_PHONE,
		MAX_MEMBER,
		STORE_WEEKDAY,
		STORE_WEEKEND,
		STORE_GROUP,
		STORE_KIND,
		STORE_FISH_KIND,
		BUSINESS_NO,
		STORE_STATUS,
		CHANGE_NAME
		FROM STORE
		LEFT JOIN ATTACHMENT ON
		STORE_NO = RSTORE_NO
		WHERE RMEM_NO =
		#{memNo} AND FILE_LEVEL = 1
	</select>

	<select id="ajaxSeaStoreCountFA" resultType="_int">
		SELECT COUNT(*)
		FROM STORE
		<if test="filterNum == 1">
			WHERE STORE_KIND = 'seaShip'
		</if>
		<if test="filterNum == 2">
			WHERE STORE_KIND = 'seaSeat'
		</if>
		<if test="filterNum == 3">
			WHERE (STORE_KIND = 'seaShip'
			OR STORE_KIND = 'seaSeat')
		</if>
		AND STORE_STATUS = 'open'
	</select>

	<select id="ajaxSeaStoreCountFB" resultType="_int">
		SELECT COUNT(*)
		FROM (SELECT *
		FROM STORE
		<if test="filterNum == 1">
			WHERE STORE_KIND = 'seaShip'
		</if>
		<if test="filterNum == 2">
			WHERE STORE_KIND = 'seaSeat'
		</if>
		<if test="filterNum == 3">
			WHERE STORE_KIND = 'seaShip'
			OR STORE_KIND = 'seaSeat'
		</if>
		)
		WHERE LOCATION_SMALL = #{city1}
		OR LOCATION_SMALL = #{city2}
		OR
		LOCATION_SMALL = #{city3}
		OR LOCATION_SMALL = #{city4}
		OR LOCATION_SMALL
		= #{city5}
		OR LOCATION_SMALL = #{city6}
		AND STORE_STATUS = 'open'
	</select>

	<select id="ajaxStoreKindFilterA" resultMap="storeResult">
		SELECT
		s.STORE_NO,
		s.STORE_ADDRESS,
		s.STORE_NAME,
		COUNT(DISTINCT CASE WHEN
		g.STORE_GOOD_STATUS = 'Y' THEN g.RSTORE_NO END) AS
		like_count,
		COALESCE(MIN(t.TICKET_PRICE), 0) AS min_price,
		COUNT(DISTINCT CASE WHEN
		r.REPLY_STATUS = 'Y' THEN r.REPLY_NO END) AS reply_count,
		CHANGE_NAME
		FROM
		STORE s
		LEFT JOIN
		STOREGOOD g ON s.STORE_NO = g.RSTORE_NO
		LEFT JOIN
		TICKET t ON s.STORE_NO = t.RSTORE_NO
		LEFT JOIN
		REPLY r ON s.STORE_NO =
		r.RSTORE_NO
		LEFT JOIN
		ATTACHMENT a ON s.STORE_NO = a.RSTORE_NO AND
		a.FILE_LEVEL = 1
		WHERE (
		<if test="filterNum == 1">
			STORE_KIND = 'seaShip'
		</if>
		<if test="filterNum == 2">
			STORE_KIND = 'seaSeat'
		</if>
		<if test="filterNum == 3">
			STORE_KIND = 'seaShip'
			OR STORE_KIND = 'seaSeat'
		</if>
		)
		AND STORE_STATUS = 'open'
		GROUP BY
		s.STORE_NO, s.STORE_ADDRESS,
		s.STORE_NAME, CHANGE_NAME
	</select>

	<select id="ajaxStoreKindFilterB" resultMap="storeResult">
		SELECT *
		FROM (SELECT
		s.STORE_NO,
		s.STORE_ADDRESS,
		s.STORE_NAME,
		COUNT(DISTINCT CASE WHEN g.STORE_GOOD_STATUS = 'Y' THEN g.RSTORE_NO
		END) AS
		like_count,
		COALESCE(MIN(t.TICKET_PRICE), 0) AS min_price,
		s.LOCATION_SMALL,
		COUNT(DISTINCT CASE WHEN r.REPLY_STATUS = 'Y' THEN
		r.REPLY_NO END) AS reply_count,
		CHANGE_NAME
		FROM
		STORE s
		LEFT JOIN
		STOREGOOD g ON s.STORE_NO = g.RSTORE_NO
		LEFT JOIN
		TICKET t ON s.STORE_NO
		= t.RSTORE_NO
		LEFT JOIN
		REPLY r ON s.STORE_NO = r.RSTORE_NO
		LEFT JOIN
		ATTACHMENT a ON s.STORE_NO = a.RSTORE_NO AND a.FILE_LEVEL = 1
		WHERE (
		<if test="filterNum == 1">
			s.STORE_KIND = 'seaShip'
		</if>
		<if test="filterNum == 2">
			s.STORE_KIND = 'seaSeat'
		</if>
		<if test="filterNum == 3">
			s.STORE_KIND = 'seaShip'
			OR s.STORE_KIND = 'seaSeat'
		</if>
		)
		AND s.STORE_STATUS = 'open'
		GROUP BY
		s.STORE_NO, s.STORE_ADDRESS,
		s.STORE_NAME, s.LOCATION_SMALL, CHANGE_NAME)
		WHERE
		(LOCATION_SMALL =
		#{city1}
		OR LOCATION_SMALL = #{city2}
		OR LOCATION_SMALL = #{city3}
		OR
		LOCATION_SMALL = #{city4}
		OR LOCATION_SMALL = #{city5}
		OR LOCATION_SMALL
		= #{city6})
	</select>

	<insert id="storeEnroll">
		INSERT INTO STORE(
		STORE_NO,
		RMEM_NO,
		LOCATION_BIG,
		LOCATION_SMALL,
		STORE_ADDRESS,
		STORE_ADDRESS_DETAIL,
		STORE_POST_NO,
		STORE_NAME,
		STORE_PHONE,
		MAX_MEMBER,
		STORE_WEEKDAY,
		STORE_WEEKEND,
		STORE_GROUP,
		STORE_KIND,
		STORE_FISH_KIND,
		BUSINESS_NO
		)
		VALUES(
		SEQ_STORE_NO.NEXTVAL,
		#{rmemNo},
		#{locationBig},
		#{locationSmall},
		#{storeAddress},
		#{storeAddressDetail},
		#{storePostNo},
		#{storeName},
		#{storePhone},
		#{maxMember},
		#{storeWeekday},
		#{storeWeekend},
		#{storeGroup},
		#{storeKind},
		#{storeFishKind},
		#{businessNo}
		)
	</insert>

	<select id="myStoreList" resultMap="storeResult">
		SELECT *
		FROM STORE
		JOIN MEMBER
		ON RMEM_NO = MEM_NO
		WHERE RMEM_NO = #{memNo}
	</select>
	<select id="detailInfo" resultType="string">
		SELECT RESERVATION_DETAIL
		FROM STORE
		WHERE STORE_NO = #{storeNum}
	</select>
	<update id="updateDetailInfo">
		UPDATE STORE
		SET reservation_detail = #{info}
		WHERE
		STORE_NO = #{storeNum}
	</update>
	<select id="selectedTicket" resultMap="ticketResult">
		SELECT *
		FROM TICKET
		WHERE
		TICKET_NO = #{ticketNo}
	</select>

	<select id="getStoreInfo" resultMap="storeResult">
		SELECT STORE_NO,
		RMEM_NO,
		LOCATION_BIG,
		LOCATION_SMALL,
		STORE_ADDRESS,
		STORE_ADDRESS_DETAIL,
		STORE_POST_NO,
		STORE_NAME,
		STORE_PHONE,
		MAX_MEMBER,
		STORE_WEEKDAY,
		STORE_WEEKEND,
		STORE_GROUP,
		STORE_KIND,
		STORE_FISH_KIND,
		BUSINESS_NO,
		STORE_STATUS
		FROM STORE
		WHERE STORE_NO = #{storeNo}
	</select>

	<select id="getAllTicketInfo" resultMap="ticketResult">
		SELECT TICKET_NO,
		TICKET_NAME,
		TICKET_PRICE,
		TICKET_TIME
		FROM TICKET
		WHERE RSTORE_NO =
		#{rstoreNo}
	</select>

	<select id="getStoreAtt" resultMap="attachmentResult">
		SELECT FILE_NO, ORIGIN_NAME,
		CHANGE_NAME, FILE_PATH, UPLOAD_DATE,
		FILE_LEVEL, FILE_STATUS, RSTORE_NO
		FROM ATTACHMENT
		WHERE RSTORE_NO = #{rstoreNo} AND ORIGIN_NAME LIKE
		'%.%'
	</select>

	<select id="getStoreAttForUpdate" resultMap="attachmentResult">
		SELECT FILE_NO,
		ORIGIN_NAME,
		CHANGE_NAME,
		FILE_PATH,
		UPLOAD_DATE,
		FILE_LEVEL,
		FILE_STATUS,
		RFISH_NO,
		RPRODUCT_NO,
		RFISHING_NO,
		RFREE_NO,
		RSTORE_NO
		FROM ATTACHMENT
		WHERE RSTORE_NO = #{rstoreNo}
	</select>

	<update id="updateStore">
		UPDATE STORE
		SET STORE_NAME = #{storeName},
		STORE_PHONE = #{storePhone},
		BUSINESS_NO =
		#{businessNo},
		STORE_KIND =
		#{storeKind},
		LOCATION_BIG = #{locationBig},
		LOCATION_SMALL =
		#{locationSmall},
		STORE_POST_NO = #{storePostNo},
		STORE_ADDRESS =
		#{storeAddress},
		STORE_ADDRESS_DETAIL =
		#{storeAddressDetail},
		STORE_GROUP = #{storeGroup},
		STORE_WEEKDAY =
		#{storeWeekday},
		STORE_WEEKEND = #{storeWeekend},
		STORE_FISH_KIND =
		#{storeFishKind},
		MAX_MEMBER = #{maxMember}
		WHERE STORE_NO = #{storeNo}
	</update>


	<update id="updateAtt">
		UPDATE ATTACHMENT
		SET ORIGIN_NAME = #{originName},
		CHANGE_NAME = #{changeName},
		UPLOAD_DATE =
		SYSDATE,
		FILE_LEVEL =
		#{fileLevel}
		WHERE RSTORE_NO = #{rstoreNo} AND FILE_NO = #{fileNo}
	</update>





	<update id="businessDelete">
		UPDATE STORE
		SET STORE_STATUS = 'DeleteOpen'
		WHERE
		BUSINESS_NO = #{businessNo}
	</update>

	<select id="getTicketInfo" resultMap="ticketResult">
		SELECT TICKET_NAME,
		TICKET_PRICE,
		TICKET_TIME
		FROM TICKET
		WHERE TICKET_NO = #{rticketNo}
	</select>

	<select id="getStoreForChat" resultMap="storeResult">
		SELECT STORE_NO,
		RMEM_NO,
		LOCATION_BIG,
		LOCATION_SMALL,
		STORE_ADDRESS,
		STORE_ADDRESS_DETAIL,
		STORE_POST_NO,
		STORE_NAME,
		STORE_PHONE,
		MAX_MEMBER,
		STORE_WEEKDAY,
		STORE_WEEKEND,
		STORE_GROUP,
		STORE_KIND,
		STORE_FISH_KIND,
		RESERVATION_DETAIL,
		BUSINESS_NO,
		STORE_STATUS
		FROM STORE
		WHERE STORE_NO =
		#{storeNo}
	</select>

	<select id="getStoreNameInfoForChat" resultMap="storeResult">
	SELECT STORE_NAME
	FROM STORE
	WHERE STORE_NO = #{storeNo}
	</select>
	



	<update id="updateStoreStatus">
		UPDATE STORE
		SET STORE_STATUS = #{storeStatus}
		WHERE
		STORE_NO = #{storeNo}
	</update>

	<select id="checkBusinessNoForDelete" resultType="_int">
		SELECT COUNT(*)
		FROM STORE
		WHERE BUSINESS_NO = #{businessNo}
		AND STORE_STATUS = 'open'
		OR STORE_STATUS = 'stopOpen'
	</select>




	<select id="fishKindList" resultType="string">
		SELECT STORE_FISH_KIND
		FROM
		(SELECT
		s.STORE_NO,
		s.STORE_ADDRESS,
		s.STORE_NAME,
		COUNT(DISTINCT CASE
		WHEN g.STORE_GOOD_STATUS = 'Y' THEN g.RSTORE_NO END) AS
		like_count,
		COALESCE(MIN(t.TICKET_PRICE), 0) AS min_price,
		COUNT(DISTINCT CASE WHEN
		r.REPLY_STATUS = 'Y' THEN r.REPLY_NO END) AS reply_count,
		CHANGE_NAME,
		LOCATION_SMALL,
		STORE_FISH_KIND
		FROM
		STORE s
		LEFT JOIN
		STOREGOOD g ON
		s.STORE_NO = g.RSTORE_NO
		LEFT JOIN
		TICKET t ON s.STORE_NO = t.RSTORE_NO
		LEFT JOIN
		REPLY r ON s.STORE_NO = r.RSTORE_NO
		LEFT JOIN
		ATTACHMENT a ON
		s.STORE_NO = a.RSTORE_NO AND a.FILE_LEVEL = 1
		WHERE STORE_KIND =
		'seaShip'
		OR STORE_KIND = 'seaSeat'
		AND STORE_STATUS = 'open'
		GROUP BY
		s.STORE_NO, s.STORE_ADDRESS, s.STORE_NAME, CHANGE_NAME,
		LOCATION_SMALL,
		STORE_FISH_KIND)
		WHERE LOCATION_SMALL = #{city1}
		OR
		LOCATION_SMALL = #{city2}
		OR LOCATION_SMALL = #{city3}
		OR LOCATION_SMALL
		= #{city4}
		OR LOCATION_SMALL = #{city5}
		OR LOCATION_SMALL = #{city6}
	</select>


	<select id="showFishImg" resultType="string">
		SELECT SUBSTR(FISH_CONTENT,
		INSTR(FISH_CONTENT, 'src="') + 5, INSTR(SUBSTR(FISH_CONTENT,
		INSTR(FISH_CONTENT, 'src="') + 5), '"') - 1) AS IMG
		FROM FISH
		WHERE
		FISH_NAME = #{fish}
	</select>

	<select id="getFishNo" resultType="string">
		SELECT FISH_NO
		FROM FISH
		WHERE
		FISH_NAME = #{fish}
	</select>
	
	<select id="showRecentStore" resultMap="storeResult">
		SELECT STORE_NAME, CHANGE_NAME, STORE_NO
		FROM STORE
		LEFT JOIN ATTACHMENT ON STORE_NO = RSTORE_NO AND FILE_LEVEL = 1
		WHERE STORE_NO = #{store}
	</select>
	
	<select id="selectStoreList" resultMap="storeResult">
		SELECT * FROM (
    	SELECT STORE_NO, STORE_NAME, CHANGE_NAME, STORE_ADDRESS, COALESCE(MIN(t.TICKET_PRICE), 0) AS min_price
            , (SELECT COUNT(g.RSTORE_NO) FROM STOREGOOD g WHERE g.RSTORE_NO = s.STORE_NO AND g.STORE_GOOD_STATUS = 'Y') AS like_count
            , COUNT(DISTINCT CASE WHEN r.REPLY_STATUS = 'Y' THEN r.REPLY_NO END) AS reply_count
            , ROW_NUMBER() OVER (ORDER BY STORE_NO) AS rnum
        FROM STORE s
        LEFT JOIN ATTACHMENT a ON s.STORE_NO = a.RSTORE_NO AND FILE_LEVEL = 1
        LEFT JOIN TICKET t ON s.STORE_NO = t.RSTORE_NO
        LEFT JOIN STOREGOOD g ON s.STORE_NO = g.RSTORE_NO
        LEFT JOIN REPLY r ON s.STORE_NO = r.RSTORE_NO
        WHERE STORE_STATUS = 'open'
          AND STORE_NAME LIKE '%' || #{keyword} || '%'
          AND (STORE_KIND = 'seaSeat' OR STORE_KIND = 'seaShip')
        GROUP BY STORE_NO, STORE_NAME, CHANGE_NAME, STORE_ADDRESS
		) WHERE rnum &lt;= 4
	</select>
	
	<select id="selectFishStoreList" resultMap="storeResult">
		SELECT * FROM (
    	SELECT STORE_NO, STORE_NAME, CHANGE_NAME, STORE_ADDRESS, COALESCE(MIN(t.TICKET_PRICE), 0) AS min_price
            , (SELECT COUNT(g.RSTORE_NO) FROM STOREGOOD g WHERE g.RSTORE_NO = s.STORE_NO AND g.STORE_GOOD_STATUS = 'Y') AS like_count
            , COUNT(DISTINCT CASE WHEN r.REPLY_STATUS = 'Y' THEN r.REPLY_NO END) AS reply_count
            , ROW_NUMBER() OVER (ORDER BY STORE_NO) AS rnum
        FROM STORE s
        LEFT JOIN ATTACHMENT a ON s.STORE_NO = a.RSTORE_NO AND FILE_LEVEL = 1
        LEFT JOIN TICKET t ON s.STORE_NO = t.RSTORE_NO
        LEFT JOIN STOREGOOD g ON s.STORE_NO = g.RSTORE_NO
        LEFT JOIN REPLY r ON s.STORE_NO = r.RSTORE_NO
        WHERE STORE_STATUS = 'open'
          AND STORE_NAME LIKE '%' || #{keyword} || '%'
          AND (STORE_KIND = 'FreshCafe' OR STORE_KIND = 'FreshSeat')
        GROUP BY STORE_NO, STORE_NAME, CHANGE_NAME, STORE_ADDRESS
		) WHERE rnum &lt;= 4
	</select>
	
</mapper>