<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https:/mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="studyMapper">
	<resultMap type="Study" id="studyResult">
		<result column="STUDY_NO" property="studyNo"/>
		<result column="STUDY_TITLE" property="studyTitle"/>
		<result column="STUDY_CONTENT" property="studyContent"/>
		<result column="STUDY_STATUS" property="studyStatus"/>
		<result column="STUDY_COUNT" property="studyCount"/>
		<result column="STUDY_WRITER" property="studyWriter"/>
		<result column="STUDY_LINK" property="studyLink"/>
		<result column="STUDY_CREATEDATE" property="studyCreateDate"/>
		<result column="RMEM_NO" property="rmemNo"/>
		<result column="STUDY_GOOD_STATUS" property="studyGoodStatus"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		 FROM STUDY
		WHERE STUDY_STATUS = 'Y'
	</select>
	
	<select id="selectList" resultMap="studyResult">
		SELECT STUDY_NO,
			   STUDY_TITLE,
			   TO_CHAR(STUDY_CREATEDATE, 'YYYY-MM-DD') AS "STUDY_CREATEDATE",
			   STUDY_COUNT,
			   STUDY_GOOD_STATUS
			FROM STUDY
		LEFT JOIN STUDYGOOD ON (STUDY_NO = RSTUDY_NO)
		WHERE STUDY_STATUS = 'Y'
	</select>
	
	<insert id="insertStudy">
		INSERT INTO STUDY(
				STUDY_NO,
				STUDY_TITLE,
				STUDY_CONTENT,
				STUDY_LINK
				)
			VALUES (
			SEQ_STUDY_NO.NEXTVAL,
				#{studyTitle},
				#{studyContent},
				#{studyLink}
				)	
	</insert>
	
	<update id="increaseCount">
		UPDATE STUDY
		   SET COUNT = COUNT + 1
		WHERE STUDY_NO = #{studtNo}
			AND STUDY_STATUS = 'Y'
	</update>
	
</mapper>