<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https:/mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="studyMapper">
	<resultMap type="Study" id="studyResult">
		<result column="STUDY_NO" property="studyNo"/>
		<result column="STUDY_TITLE" property="studyTitle"/>
		<result column="STUDY_CONTENT" property="studyContent"/>
		<result column="STUDY_STATUS" property="studyStatus"/>
		<result column="STUDY_COUNT" property="studyCount"/>
		<result column="STUDY_WRITER" property="studyWriter"/>
		<result column="STUDY_LINK" property="studyLink"/>
		<result column="STUDY_CREATE_DATE" property="studyCreateDate"/>
		<result column="RMEM_NO" property="rmemNo"/>
		<result column="STUDY_GOOD_STATUS" property="studyGoodStatus"/>
		<result column="LIKE_COUNT" property="likeCount"/>
	</resultMap>
	
	<resultMap type="StudyGood" id="studyGoodResult">
		<result column="RMEM_NO" property="rmemNo" />
		<result column="RSTUDY_NO" property="rstudyNo" />
		<result column="STUDY_GOOD_STATUS" property="studyGoodStatus" />
		<result column="COUNT" property="count" />
	</resultMap>
	
	<resultMap type="Attachment" id="attachmentResult">
		<result column="FILE_NO" property="fileNo" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="FILE_PATH" property="filePath" />
		<result column="UPLOAD_DATE" property="uploadDate" />
		<result column="FILE_LEVEL" property="fileLevel" />
		<result column="FILE_STATUS" property="fileStatus" />
		<result column="RSTORE_NO" property="rstoreNo" />
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		 FROM STUDY
		WHERE STUDY_STATUS = 'Y'
	</select>
	
	<select id="selectList" resultMap="studyResult">
    SELECT
        S.STUDY_NO,
        S.STUDY_TITLE,
        TO_CHAR(S.STUDY_CREATE_DATE, 'YYYY-MM-DD') AS "STUDY_CREATE_DATE",
        S.STUDY_COUNT,
        COALESCE(G.LIKE_COUNT, 0) AS "LIKE_COUNT"
    FROM
        STUDY S
    LEFT JOIN (
        SELECT RSTUDY_NO, COUNT(*) AS LIKE_COUNT
        FROM STUDYGOOD
        WHERE STUDY_GOOD_STATUS = 'Y'
        GROUP BY RSTUDY_NO
    ) G ON S.STUDY_NO = G.RSTUDY_NO
    WHERE
        S.STUDY_STATUS = 'Y'
    ORDER BY
        S.STUDY_NO DESC
</select>
	
	<insert id="insertStudy">
		INSERT INTO STUDY(
				STUDY_NO,
				STUDY_TITLE,
				STUDY_CONTENT,
				STUDY_LINK
				)
			VALUES (
			SEQ_STUDY_NO.NEXTVAL,
				#{studyTitle},
				#{studyContent},
				#{studyLink}
				)	
	</insert>
	
	<update id="increaseCount">
		UPDATE STUDY
		   SET STUDY_COUNT = STUDY_COUNT + 1
		WHERE STUDY_NO = #{studyNo}
			AND STUDY_STATUS = 'Y'
	</update>
	
	<select id="selectStudy" resultMap="studyResult">
		SELECT STUDY_NO,
			   STUDY_TITLE,
			   STUDY_CONTENT,
			   STUDY_COUNT,
			   TO_CHAR(STUDY_CREATE_DATE, 'YYYY-MM-DD') AS "STUDY_CREATE_DATE",
			   STUDY_LINK
		  FROM STUDY
		WHERE STUDY_STATUS = 'Y'
			AND STUDY_NO = #{studyNo}
	</select>
	
	<update id="deleteStudy">
		UPDATE STUDY
		   SET STUDY_STATUS = 'N'
		 WHERE STUDY_NO = #{studyNo}
	</update>
	
	<update id="updateStudy">
		UPDATE STUDY
		   SET STUDY_TITLE = #{studyTitle},
		   	   STUDY_CONTENT = #{studyContent},
		   	   STUDY_LINK = #{studyLink}
		WHERE STUDY_NO = #{studyNo}
	</update>
	
	<select id="selectSearchListCount" resultType="_int">
	    SELECT COUNT(*)
	     FROM STUDY
	    WHERE STUDY_STATUS = 'Y'
	    <if test="condition == 'studyTitle' and keyword != null and keyword.trim() != ''"> 
	        AND STUDY_TITLE
	    </if>
	    <if test="condition == 'studyContent' and keyword != null and keyword.trim() != ''"> 
	        AND STUDY_CONTENT
	    </if>
	    LIKE '%' || #{keyword} || '%'
	</select>
	
	<select id="selectSearchList" resultMap="studyResult">
	    SELECT STUDY_NO
	        ,STUDY_TITLE
	        ,STUDY_COUNT
	        ,STUDY_CREATE_DATE
	    FROM STUDY
	    WHERE STUDY_STATUS = 'Y'
	    <choose>
	        <when test="condition == 'studyTitle' and keyword != null and keyword.trim() != ''">
	            AND STUDY_TITLE
	        </when>
	        <otherwise> 
	            AND STUDY_CONTENT
	        </otherwise>
	    </choose>
	    LIKE '%' || #{keyword} || '%'
	    ORDER BY STUDY_NO DESC
	</select>
	
	<update id="studyUpdateLike">
 		UPDATE STUDYGOOD
		SET STUDY_GOOD_STATUS = #{result}
		WHERE RSTUDY_NO = #{studyNo}
		AND RMEM_NO = #{rmemNo}
 	</update>
 	
	<select id="likeResult" resultMap="studyGoodResult">
 		SELECT STUDY_GOOD_STATUS
		FROM STUDYGOOD
		WHERE RMEM_NO = #{rmemNo}
		AND RSTUDY_NO = #{rstudyNo}
 	</select>
 	
 	<insert id="createLikeTable">
 		INSERT INTO STUDYGOOD (RMEM_NO, RSTUDY_NO)
		VALUES (#{memNo}, #{sno})
 	</insert>
 
 	<select id="checkLikeTable" resultMap="studyGoodResult">
 		SELECT *
		FROM STUDYGOOD
		WHERE RMEM_NO = #{memNo}
		AND RSTUDY_NO = #{sno}
 	</select>
 	
 	<select id="selectStudyList" resultMap="studyResult">
 		SELECT STUDY_NO,
 			   STUDY_TITLE,
 			   STUDY_LINK
 		   FROM STUDY
 		 WHERE STUDY_STATUS = 'Y'	
 		 AND STUDY_TITLE LIKE '%' || #{keyword} || '%'
         AND ROWNUM &lt;= 3
 	</select>
 	
 	<select id="selectmainList" resultMap="studyResult">
	SELECT *
	FROM (
		SELECT STUDY_NO,
		STUDY_LINK,
		STUDY_TITLE,
		STUDY_COUNT,
		TO_CHAR(STUDY_CREATE_DATE, 'YYYY-MM-DD') AS "STUDY_CREATE_DATE"
	FROM STUDY
	WHERE STUDY_STATUS = 'Y'
	ORDER BY STUDY_NO DESC
	)
	WHERE ROWNUM BETWEEN 1 AND 3
 	</select>
 	
 	<select id="studyGoodCount" resultType="_int">
 		SELECT COUNT(*)
 		FROM STUDYGOOD
 		WHERE STUDY_GOOD_STATUS = 'Y'
 		AND RSTUDY_NO = #{sno}
 	</select>
 	<select id="studyUpdateLike1" resultType="_int">
 		SELECT COUNT(*)
 		FROM
 		STUDYGOOD
 		WHERE STUDY_GOOD_STATUS = 'Y'
 		AND RSTUDY_NO = #{rstudyNo}
 	</select>
 	
 	<update id="deleteReply">
 		UPDATE REPLY
 		SET REPLY_STATUS = 'N'
 		WHERE
 		REPLY_NO = #{replyNo}
 	</update>
 	
</mapper>